<template>
    <div class="col-12 col-md-9 information">
        <table class="table table-hover table-responsive text-left" v-if='orders.length'>
            <thead class='text-center'>
            <tr>
                <th>Дата</th>
                <th>№ заказа</th>
                <th>Продукция</th>
                <th>Сумма</th>
                <th>Статус</th>
            </tr>
            </thead>
            <tbody class="text-center">
            <tr v-for="order in orders">
                <th>{{order.created_at | moment("DD.MM.YYYY")}}</th>
                <td>{{order.id}}</td>
                <td>
                    <span class="products" @click="showOrder(order.id)">Посмотреть</span>
                </td>
                <td>{{order.amount}} UAH</td>
                <td>{{order.status_order}}</td>
            </tr>
            </tbody>
        </table>
        <p v-else>
            У вас еще не было заказов
        </p>
        <modal-single-order v-if="showModal" :orderId="currentOrder" @close="showModal = false"></modal-single-order>
    </div>
</template>

<script>
    export default{
        props:['orders', 'status'],
        data(){
            return{
                showModal: false,
                currentOrder: -1
            }
        },
        watch:{
            showModal:function(val){
                document.body.style.overflow = (val)?'hidden':'';
            }
        },
        methods:{
            showOrder(id){
                this.currentOrder=id;
                this.showModal = true;
            }
        },
        created(){
            this.orders.forEach(el=>{
                let arr = this.status.map(el=>{
                    return el.id;
                });
                let index = arr.indexOf(el.status.order_status_id);
                el.status_order = this.status[index].name;
            })
        }
    }
</script>