<template>
    <div class="row comments">
        <div class="col-12 col-md-12 comment" v-if="comments.length">
            <div class="row">
                <div class="col-12 col-md-12" v-for="comment in comments">
                    <div class="row title">
                        <h4>Вы</h4>
                        <span class="date">{{comment.created_at | moment("DD MMMM YYYY")}}</span>
                        <a :href="'product/'+comment.product.slug">Перейти в товар</a>
                    </div>
                    <p class="row">
                        {{comment.text}}
                    </p>
                    <!--<div class="row answer">-->
                        <!--<div class="col-12 col-md-12 title">-->
                            <!--<div class="line"></div>-->
                            <!--<h4>Админ</h4>-->
                            <!--<span class="date">{{comment.created_at | moment("DD MMMM YYYY")}}</span>-->
                        <!--</div>-->
                        <!--<p class="col-12 col-md-12 answer-text">-->
                            <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. At ea fugit maiores rerum tempore voluptates voluptatum. Amet animi deserunt doloremque ex in itaque maxime molestiae natus nemo, numquam perspiciatis quisquam, repudiandae sapiente? Cum doloribus excepturi impedit incidunt omnis, quae repellendus ut. At cum magnam nemo quae recusandae, sapiente sequi tempore!-->
                        <!--</p>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 comment" v-else>
            <h4>Вы еще не оставляли комментарии</h4>
        </div>
    </div>
</template>

<script>
    export default{
        props: ['comments']
    }
</script>