<template>
    <div class="col favor">
        <div class="row" v-if="favorites.length">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 favorite" v-for="favorite in getAllProducts">
                <a :href="'product/'+favorite.slug" v-if="favorite.images.length" class="favorite__img">
                    <img :src="favorite.images[0].img_name" alt="">
                </a>
                <a :href="favorite.slug" class="title text-center">{{favorite.title}}</a>
                <span class="text-center">{{Math.floor(favorite.price)}} Грн.</span>
                <!--<button @click="addToCard(favorite)">В корзину</button>-->
                <span class="isFavorite" :class="{active: favorite.favorite }" @click="toFavorite(favorite)">
                    <img src="images/like.svg" alt="">
                </span>
            </div>
        </div>
        <div class="row" v-else>
            <div class="col-12 text-left">
                <p>У Вас нет избранных товаров.</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        props: ['favorites'],
        data(){
            return{
                products: this.favorites
            }
        },
        methods:{
            addToCard(product){
                console.log(product);
                let item = {[product.attribute_combinations[0].product_id] : product.attribute_combinations[0].attribute_value_id};

                this.$store.dispatch('addProduct', {product_attribute: item, quantity: 1});
            },
            toFavorite(product){
                let index = 0;
                this.products.forEach((item,i)=>{
                    if(item.id == product.id){
                        return index = i;
                    }
                });
                let self = this;
                if(this.products[index].favorite){
                    axios.post('product/unfavorite', {id: product.id}).then(res=> {
                        self.products[index].favorite = false;
                    }).catch(err=>console.log(err));
                }else{
                    axios.post('product/favorite', {id: product.id}).then(res=> {
                        console.log(res);
                        self.products[index].favorite = true;
                    }).catch(err=>console.log(err));
                }
            }
        },
        computed:{
            getAllProducts(){
                return this.products;
            }
        }
    }
</script>