<template>
    <div class="row">
        <div class="col-12 col-md-3">
            <div class="row">
                <div class="col-12 col-md-10 routes">
                    <button v-for="(item,i) in menu" :class="{'active':currPage == i+1}" @click="changePage(i+1)">{{item}}</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-9">
            <div class="row align-items-center main-title">
                <h2 class="col-6 col-md ">{{menu[currPage-1]}}</h2>
                <div class="col-6 col-md exit">
                    <span>Здраствуйте, {{user.name}}</span>
                    <i class="material-icons" @click="toExit">exit_to_app</i>
                </div>
            </div>
            <div class="row">
                <transition name="user" mode="out-in">
                    <user-orders v-if="currPage==1" :orders="orders" :status="statuses"></user-orders>
                    <user-info v-if="currPage==2" :addresses="addresses" :discounts="discount" :notPhone="notPhone"></user-info>
                    <user-favorite v-if="currPage==3" :favorites="favorites"></user-favorite>
                    <user-subscription v-if="currPage==4" :subscription="subscribe" @noPhone="noPhone"></user-subscription>
                    <user-comments v-if="currPage==5" :comments="comments"></user-comments>
                </transition>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        props: ['orders', 'statuses', 'favorites', 'subscribe', 'comments', 'addresses', 'discount'],
        data(){
            return{
                currPage: 2,
                user: null,
                menu: ['Мои заказы', 'Мои данные', 'Избранное', 'Подписки','Комментарии'],
                notPhone: false,
            }
        },
        methods:{
            changePage(value){
                this.currPage = value;

            },
            toExit(){
//                console.log('event');
                this.$store.dispatch('logout');
                window.location.pathname = '/';
            },
            noPhone(){
                this.currPage = 2;
                this.notPhone = true;
            }
        },
        created(){
            this.user = this.$store.getters.loginStatus;
        }
    }
</script>

<style>
    .user-enter-active, .user-leave-active {
        transition: all .7s ease;
    }
    .user-enter,.user-leave-to{
        transform: translateY(5%);
        opacity: 0;
    }
</style>