<template>
    <div class="col subscribe">
        <h6 class="row">Я хочу получать новости о акциях и скидках</h6>
        <div class="row form-check">
            <div class="box" @click="changeStatus('phone')">
                <div class="checkbox" :class="{active: subscribe ? subscribe.phone : false}"></div>
            </div>
            <span @click="changeStatus('phone')">По SMS</span>
        </div>
        <div class="row form-check">
            <div class="box" @click="changeStatus('email')">
                <div class="checkbox" :class="{active: subscribe ? subscribe.email : false}"></div>
            </div>
            <span @click="changeStatus('email')">По E-mail</span>
        </div>
        <!--<div class="form-check">-->
            <!--<label class="form-check-label">-->
                <!--<input class="form-check-input" id="email" @change="changeStatus('email',subscribe.email)" value="email" type="checkbox" v-model="subscribe.email">-->
                <!--По E-mail-->
            <!--</label>-->
        <!--</div>-->
    </div>
</template>

<script>
    export default{
        props: ['subscription'],
        data(){
            return{
                user: this.$store.getters.loginStatus,
                subscribe: this.subscription
            }
        },
        methods:{
            changeStatus(status){
                let self = this;
                let obj = {
                    subscr_email: Boolean(this.subscribe.email),
                    subscr_phone: Boolean(this.subscribe.phone)
                };
                (status=="email")?(obj.subscr_email = !Boolean(this.subscribe.email)):(obj.subscr_phone = !Boolean(this.subscribe.phone));
                axios.post('subscr', obj).then(res=>{
                    (status=="email")?(self.subscribe.email = !self.subscribe.email):(self.subscribe.phone = !self.subscribe.phone);
                }).catch(err=>console.log(err));
            }
        },
        computed:{
            getPhone(){
                return this.subscribe ? Boolean(this.subscribe.phone) : false;
            },
            getEmail(){
                return this.subscribe ? Boolean(this.subscribe.email) : false;
            }
        }
    }
</script>