<template>
    <div class="col-12 col-md-8 information">
        <form @submit.prevent="onSubmit">
            <div class="row align-items-center name">
                    <span class="col-12 col-md">
                        Имя:
                    </span>
                <div class="col-12 col-md">
                    <input type="text" name="name" v-model="user.name" required class="col-12 col-md" placeholder="Имя">
                </div>
            </div>
            <div class="row align-items-center lastname">
                    <span class="col-12 col-md">
                        Фамилия:
                    </span>
                <div class="col-12 col-md">
                    <input type="text" required name="lastname" placeholder="Фамилия" v-model="user.lastname">
                </div>
            </div>
            <div class="row align-items-center email">
                    <span class="col-12 col-md">
                        E-mail:
                    </span>
                <div class="col-12 col-md">
                    <input type="text" required name="email" placeholder="E-mail" v-model="user.email">
                </div>
            </div>
            <div class="requirement" v-if="notPhone">
                Телефон не указан!
            </div>
            <div class="row align-items-center phone">
                    <span class="col-12 col-md">
                        Телефон:
                    </span>
                <div class="col-12 col-md">
                    <input type="text" v-if="user.phone" name="phone" required v-mask="'+38(999)999-9999'" placeholder="Телефон" v-model="user.phone">
                    <input type="text" v-else required v-mask="'+38(999)999-9999'" name="phone" placeholder="Телефон" v-model="phone">
                </div>
            </div>
            <div class="row align-items-center birthday">
                    <span class="col-12 col-md">
                        Дата рождения:
                    </span>
                    <div class="col-12 col-md dates">
                        <!--<datepicker :refName="customInput" :monday-first="true" required :value="user.birthday" placeholder="Дата рождения" name="birthday" :format="'dd.MM.yyyy'" :language="'ru'"></datepicker>-->
                        <date-picker ref="customInput" placeholder="Дата рождения" name="birthday" :value="birthday" :config="config"></date-picker>
                        <i class="material-icons" @click="changeData">date_range</i>
                    </div>
            </div>
            <div class="row align-items-center address">
                    <span class="col-12 col-md align-self-start add">
                        Адреса для доставки:
                    </span>
                <div class="col-12 col-md">
                    <div class="row">
                        <div class="col-12 address_add" v-if="takenAddresses.length">
                            <span v-for="item in takenAddresses">
                                <input name="addresses[]" class="col-12" type="text" :value="item.address.address" placeholder="Адреса для доставки">
                                <i class="material-icons" @click="removeAddress('main', item)">close</i>
                            </span>
                        </div>
                        <div class="col-12 address_add" v-if="addedAddress.length">
                            <span v-for="(item, index) in addedAddress" >
                                <input name="addresses[]" class="col-12" type="text" placeholder="Адреса для доставки">
                                <i class="material-icons" v-if="addedAddress.length != 1" @click="removeAddress('submain', index)">close</i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row add">
                <a href="#" @click.stop.prevent="addAddress">Добавить еще адрес</a>
            </div>
            <div class="row align-items-center discount">
                <span class="col-12 col-md">
                    Дисконтная карта:
                </span>
                <div class="col-12 col-md">
                    <input type="text" name="discont" v-model="discount" placeholder="Дисконтная карта" class="col-12 col-md">
                    <i class="material-icons">info_outline</i>
                    <p>Введите штрих код дисконтной карты, что бы воспользоваться накопительной системой скидок.</p>
                </div>
            </div>
            <transition name="password">
                <div class="row align-items-center justify-content-end" v-if="discount.length == 13">
                    <div class="requirement" v-html="discountMessage">
                    </div>
                </div>
            </transition>
            <div class="row align-items-center password">
                    <span class="col-12 col-md">
                        Пароль
                    </span>
                    <div class="col-12 col-md">
                        <button type="button" @click="isNewPassword = true">Изменить</button>
                    </div>
            </div>
            <div class="row align-items-center social">
                    <span class="col-12 col-md">
                        Аккаунты соц.сетей:
                    </span>
                <div class="col-12 col-md box">
                    <a :href="user.facebook_id? 'javascript:void(0);' : 'login/facebook'" :class="{active:user.facebook_id}"><img src="images/social/facebook.svg" alt=""></a>
                    <a :href="user.twitter_id? 'javascript:void(0);': 'login/twitter'" :class="{active:user.twitter_id}"><img src="images/social/twitter.svg" alt=""></a>
                    <a :href="user.google_id? 'javascript:void(0);' : 'login/google'" :class="{active:user.google_id}"><img src="images/social/google-plus.svg" alt=""></a>
                </div>
            </div>
            <div class="row save">
                <button type="submit">Сохранить</button>
            </div>
        </form>
        <transition name="password" mode="out-in">
            <modal-password v-if="isNewPassword" @changed="changedPassword" @close="isNewPassword=false"></modal-password>
        </transition>
            <modal-thanks v-if="showThanksModal" @close="showThanksModal = false" :info="thanksAdd"></modal-thanks>
    </div>
</template>

<script>
import datePicker from 'vue-bootstrap-datetimepicker';

export default{
        props: ['notPhone', 'addresses','discounts'],
        data(){
            return{
                user: null,
                phone: '',
                isNewPassword: false,
                showThanksModal: false,
                takenAddresses: this.addresses,
                thanksAdd: '',
                discount: '',
                openCalendar: false,
                addedAddress: [],
                birthday: '',
                config: {
//                    format: 'DD.MM.YYYY',
                    format: 'YYYY-MM-DD',
                    useCurrent: false,
                    locale: 'ru'
                },
                isDiscount: false,
                isDiscountInfo: false,
                discountMessage: ''
            }
        },
        watch:{
            discount: function(val){
                if(val.length == 13){
                    this.addDiscount(val);
                }
            }
        },
        methods:{
            addDiscount(val){
                axios.post('user/discount/add',{discount: val}).then(res=>{
                    if(res.data.value){
                        this.discountMessage = 'Ваша скидка составляет ' + res.data.value + '%.<br/> Ваши начисления составляют '+ res.data.summ+' грн.';
                    }
                }).catch(err=>{
                    this.discountMessage = 'Дисконтная карта не найдена.';
                });
            },
            removeAddress(status, item){
                console.log(item);
                let index = -1;
                if(status == 'main'){
                    let self = this;
                    axios.post('user/address/remove', {id: item.address_id}).then(res=>{
                        self.takenAddresses.forEach((el,i)=>{
                            if(el.address_id == item.address_id){
                                index = i;
                            }
                        });
                        self.takenAddresses.splice(index, 1);
                    });
                }else{
                    this.addedAddress.splice(item, 1);
                }
                if(!this.takenAddresses.length && !this.addedAddress.length){
                    this.addedAddress.push('');
                }
            },
            changedPassword(){
                this.thanksAdd = 'Пароль успешно обновлен!';
                this.isNewPassword = false;
                this.showThanksModal = true;
            },
            addAddress(){
                if((this.addresses.length + this.addedAddress.length)<5){
                    if(this.addedAddress.length){
                        if(this.addedAddress[this.addedAddress.length-1] == ""){
                            this.addedAddress.push('');
                        }
                    }else{
                        this.addedAddress.push('');
                    }
                }
            },
            onSubmit(event){
                let formData = new FormData(event.target);
                let self = this;
                axios.post('user/profileupdate', formData).then(res=>{
//                    console.log(res);
//                    self.addresses = res.data.addresses;
                    self.addedAddress = [];
                    this.$store.dispatch('pasteUser', res.data.user);
                    self.takenAddresses = res.data.addresses;
                    self.thanksAdd = 'Данные успешно обновленны!';
                    self.showThanksModal = true;
                }).catch(err=>console.log(err));
//                console.log(event.target.values);
            },
            changeData(){
                this.$refs.customInput.dp.toggle();
                console.log(this.$refs.customInput);
            }
        },
        mounted () {
            if(!this.addresses.length){
                this.addedAddress.push('');
            }
            if(!Array.isArray(this.discounts)){
                this.discount = this.discounts.cart_number;
                this.discountMessage = 'Ваша скидка составляет ' + this.discounts.value + '%.<br/> Ваши начисления составляют '+ this.discounts.summ+' грн.';
            }
        },
        created(){
            this.user = this.$store.getters.loginStatus;
            this.birthday = this.user.birthday;
        },
        components: {
//            'datepicker':Datepicker
            datePicker
        },
        computed:{
            currentAddress(){
                return this.addresses;
            }
        }
    }
</script>

<style lang="scss">
    @import '../../../../sass/datepicker.scss';
    .password-enter-active, .password-leave-active {
        transition: opacity .5s
    }
    .password-enter, .password-leave-to /* .fade-leave-active до версии 2.1.8 */ {
        opacity: 0;
    }
</style>