<template>
    <div class="slider">
        <div class="slider_thumbs">
            <i class="material-icons prev" @click="prev">keyboard_arrow_up</i>
            <i class="material-icons next" @click="next">keyboard_arrow_down</i>
            <div class="slider_thumbs">
                <v-touch @swipedown="prev" @swipeup="next">
                    <div class="thumbs__container" :style="{transform: slidering}">
                        <div class="thumb__img" v-for="(photo, index) in gallery" :class="{selected: !isNaN(photo.is_color) && photo.is_color}" @click="elseIndex=index">
                            <img class="preview-img" :src="photo.img_name" :alt="photo.alt">
                        </div>
                    </div>
                </v-touch>
            </div>
        </div>
        <div class="slider_main" @click="$preview.open(elseIndex, gallery)">
            <img :src="currentImage">
        </div>
    </div>
</template>

<script>
    export default{
        props: ['images', 'indexImage','imageArr'],
        data(){
            return{
                currIndex: 0,
                elseIndex: 0,
                gallery: [],
                translateIndex: this.indexImage,
                arrImages: this.imageArr
            }
        },
        watch:{
            translateIndex: function(val){
                this.elseIndex = val;
            },
            arrImages: function(arr){
                this.changeImages(arr);
            },
            imageArr: function (arr) {
                this.changeImages(arr);
            }
        },
        methods:{
            changeImages(arr){
                this.gallery.forEach((el,index)=>{
//                    arr.forEach(i=>{
//                        if(index == i){
//                            el.is_color = true;
//                        }else{
//                            el.is_color = false;
//                        }
//                    })
                    if(arr.includes(index)){
                        el.is_color = true;
                    }else{
                        el.is_color = false;
                    }
                });
                console.log(arr);
                this.currIndex = 0;
            },
            next(){
                this.currIndex++;
                if(this.currIndex>this.gallery.length-3){
                    this.currIndex=0;
                }
            },
            prev(){
                this.currIndex--;
                if(this.currIndex<0){
                    this.currIndex = this.gallery.length-3;
                }
            }
        },
        created(){
            this.gallery = this.images.map((el,i)=>{
                el.w = 900;
                el.h = 1200;
                el.src = el.img_name;
                return el;
            });
        },
        computed:{
            currentImage(){
                return this.gallery[this.elseIndex].src;
            },
            slidering(){
                return this.currIndex ? `translateY(-${this.currIndex*(100/this.gallery.length)}%)`: `translateY(0%)`;
            }
        },
    }
</script>