<template>
    <div>
    <form class="info" @submit.prevent="toCart">
        <h1 class="info_title">{{product.title}}</h1>
        <div class="info_price_box" v-if="product.discount">
            <span class="info_price old_price">{{currentPrice}} грн.</span>
            <span class="info_price" v-if="product.discount.type == 'percent'">{{currentPrice-(currentPrice*product.discount.value)/100 | rounding}} грн.</span>
            <span class="info_price" v-else>{{currentPrice-product.discount.value | rounding}} грн.</span>
            <span class="info_price percent" v-if="product.discount.type == 'percent'">{{product.discount.value}}%</span>
            <span class="info_price percent" v-else>{{product.discount.value}} грн.</span>
        </div>
        <div class="info_price_box text-center align-self-center" v-else-if="product.yellow_price">
            <span class="info_price">{{formatPrice(currentPrice)}}</span>
            <span class="yellow_price">Суперцена</span>
        </div>
        <div class="info_price_box text-center align-self-center" v-else>
            <span class="info_price">{{formatPrice(currentPrice)}}</span>
        </div>
        <div class="info_char row">
            <!--<div class="char_select col-12 col-md-6">-->
                <!--<div class="row selectable" v-for="(attr,index) in attributes">-->
                    <!--<select :data-id="index" required @change="toggleAttribute">-->
                        <!--<option value="" selected disabled>{{attr.title}}</option>-->
                        <!--<option v-for="item in attr.values" :value="item.id">{{item.value}}</option>-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-12 col-md-6">-->
                <!--<div class="aoyue-select" :class="{active: currentAttribute == index}" @click="currentAttribute=index" v-for="(attr,index) in attributes">-->
                    <!--&lt;!&ndash; You can toggle select (disabled) &ndash;&gt;-->
                    <!--<input type="radio" :name="'option'+index" required value="" checked>-->
                    <!--<i class="material-icons toggle icon icon-arrow-down">keyboard_arrow_down</i>-->
                    <!--<i class="material-icons toggle icon icon-arrow-up">keyboard_arrow_up</i>-->
                    <!--<span class="placeholder">{{attr.title}}</span>-->
                    <!--<label class="option" v-for="item in attr.values">-->
                        <!--<input type="radio" v-model="selectedAttributes[index]" :value="item.id" :name="'option'+index">-->
                        <!--<span class="title animated fadeIn">{{item.value}}</span>-->
                    <!--</label>-->
                <!--</div>-->
            <!--</div>-->
            <div class="col-12 col-md-6 dropdown">
                <div class="drop">
                    <span class="dropdown-el" v-for="(attr,index) in attributes" :class="{expanded: currentAttribute == index}" @click="toAttribute(index)">
                        <span class="dropdown-child" >
                            <span class="child_box">
                                <input type="radio" :name="'option'+index" required value="" :id="'title'+index"><label :for="'title'+index" class="disabled">{{attr.title}}</label>
                            </span>
                            </span>
                        <span class="dropdown-child" v-for="item in attr.values" :class="{active:selectedAttributes.includes(item.id)}">
                            <span class="child_box">
                                <input type="radio" v-model="selectedAttributes[index]" :value="item.id" :checked="selectedAttributes.includes(item.id)" :name="'option'+index" :id="item.id" @change="onSelect(attr.title)"><label :for="item.id">{{item.value}}</label>
                            </span>
                        </span>
                    </span>
                </div>
            </div>
            <div class="char_adds col-12 col-md-6">
                <span v-if="hasSize">Пожалуйста <strong>выберите размер</strong>:<br><a href="#" @click.stop.prevent="showTable = true">Таблица размеров</a></span>
                <span v-if="helpAttributes.length == 2">Пожалуйста выберите <strong>{{helpAttributes[0]}} и {{helpAttributes[1]}}</strong></span>
                <span v-else-if="helpAttributes.length == 1">Пожалуйста выберите <strong>{{helpAttributes[0]}}</strong></span>

            </div>
        </div>
        <div class="quantity_adds row" v-if="selectedAttributes.length == attributes.length">
            <p v-if="currentQuantity">Доступно <strong>{{currentQuantity}}</strong> шт.</p>
            <p class="requirement" v-else>Товар отсутствует на складе</p>
        </div>
        <div class="products-all info_buy row">
            <!-- v-scroll-to="'.header'"-->
            <div class="col-12">
                <button class="buy_btn" type="submit" :disabled="!currentQuantity">В корзину</button>
            </div>
            <div v-if="getUser" class="buy_favorite col-12">
                <div class="favorite_circle item__favorite align-items-center justify-content-center" :class="{active:checkFavorite}" @click="toggleFavorite">
                    <img src="images/like.svg" alt="">
                </div>
                <transition name="favor" mode="out-in">
                    <span v-if="checkFavorite" key="delete">Удалить из избранного</span>
                    <span v-else key="save">Добавить в избранное</span>
                </transition>
            </div>
        </div>
        <p class="free_shipping">
            Для бесплатной доставки сделайте заказ на 2000 грн.
        </p>
    </form>
    <transition name="favor">
        <modal-size v-if="showTable" @close="showTable = false"></modal-size>
    </transition>
    <transition name="favor">
        <modal-thanks v-if="isAddToCard" :info="infoText" :adds="addsText" @close="isAddToCard = false"></modal-thanks>
    </transition>
    </div>
</template>

<script>
    export default{
        props: ['product', 'attributes'],
        data(){
            return {
                isFavorite: false,
                selectedAttributes: [],
                currentPrice: 0,
                currentId: 0,
                showTable: false,
                canAdd: false,
                hasSize: false,
                currentAttribute: -1,
                currentQuantity: 0,
                helpAttributes: [],
                prices: [],
                indexOutside: 0,
                isAddToCard: false,
                infoText: '',
                addsText: ''
            }
        },
        watch:{
            showTable:function(val){
                this.showTableFun(val)
            },
            selectedAttributes: function(val){
                this.toTop();
                this.toggleAttribute();
                this.toggleImage(val);
            }
        },
        filters:{
            rounding(val){
                console.log(val);
                return Math.round(val);
            }
        },
        created(){
            this.product.favorite ? (this.isFavorite=true):(this.isFavorite = false);
            this.attributes.forEach(el=>{
               this.helpAttributes.push(el.title);
            });
            if(this.attributes.length) {
                let self = this;
                this.attributes.forEach(function(attribute) {
                    if(attribute.is_size) {
                        self.hasSize = true;
                    }
                });
            }
            if(window.location.hash) {
                let attrId = window.location.hash.substring(1); //Puts hash in variable, and removes the # character
                if(attrId) {
                    if(this.product.prices && this.product.prices.length) {
                        this.product.prices.forEach((item) => {
                            if (item.product_attribute_id == attrId) {
                                this.currentPrice = item.price;
                                this.currentQuantity = parseInt(item.quantity);
                            }
                        });
                    }else{
                        this.currentPrice = 0;
                    }
                    if(this.product.attribute_price && this.product.attribute_price.length) {
                        this.product.attribute_price.forEach((item) => {
                            if (item.id == attrId) {
                                item.combinations.forEach((combination) => {
                                    this.selectedAttributes.push(combination.attribute_value_id);
                                });
                            }
                        });
                    }
                }
            }
            if(this.attributes.length == 2){
                this.attributes[0].values.forEach((el,i)=>{
                    this.attributes[1].values.forEach((item)=>{
                        this.prices.push({
                            attribute_ids: [el.id, item.id],
                            price: 0,
                            product_attribute_id:0,
                            quantity:0,
                            yellow_price: 0
                        })
                    });
                });
            }else{
                this.attributes[0].values.forEach((item)=>{
                    this.prices.push({
                        attribute_ids: [item.id],
                        price: 0,
                        product_attribute_id:0,
                        quantity:0,
                        yellow_price: 0
                    })
                });
            }
            this.prices.forEach((item, index)=>{
                this.product.prices.forEach((el, i)=>{
                    let diff = _.difference(el.attribute_ids,item.attribute_ids);
                    if(!diff.length){
                        this.prices.splice(index,1,el);
                    }
                });
            });
        },
        mounted(){
            if(this.currentPrice == 0) {
                this.currentPrice = this.product.price;
                this.currentQuantity =parseInt(this.product.prices[0].quantity);
            }
            let self = this;
            window.addEventListener('click', function(e){
                if (!e.target.parentNode.classList.contains('dropdown-el') && !e.target.parentNode.classList.contains('dropdown-child') && !e.target.parentNode.classList.contains('dropdown'))
                {
                    self.cancel();
                }
            }, false)
        },
        methods:{
            formatPrice(price) {
                return price > 0 ? price + ' грн.' : 'Нет в наличии';
            },
            toggleImage(val){
                let index = 0;
                if(this.product.images.length){
                    console.log(val);
                    let arrImg = [];
                    for(let i = 0; i<this.product.images.length; i++){
                        for(let j=0;j<val.length;j++){
                            if(this.product.images[i].attribute_value_id == val[j] && !isNaN(val[j])){
                                if(!index){
                                    index = i;
                                    this.$emit('goSlider', index);
                                }
                                arrImg.push(i);

                                console.log(this.product.images[i].attribute_value_id,val[j], j);
                                this.$emit('changeImage', arrImg);
                            }
                        }
                    }
                }
            },
            toAttribute(val){
                this.currentAttribute = (val == this.currentAttribute) ? -1 : val;
            },
            onSelect(val){
//                console.log(val);
                let index = this.helpAttributes.indexOf(val);
                this.helpAttributes.splice(index,1);
            },
            cancel(){
                this.currentAttribute = -1;
//                this.toTop();
            },
            toTop(){
                document.querySelectorAll('.dropdown-el').forEach(el=>{
                    el.scrollTo(0,0);
                });
                document.querySelector('.header').click();
            },
            showTableFun(val){
                document.body.style.overflow = (val) ? "hidden" : '';
            },
            toCart(){
                let self = this;
                let itemSingle = {product_attribute:{[self.product.id] : self.currentId}, quantity: 1};
                this.$store.dispatch('addProduct', itemSingle).then(res=>{
                    self.isAddToCard = true;
                    self.infoText = res;
                    self.addsText = 'Перейдите в корзину, для оформления заказа.';
                    let cancelScroll = this.$scrollTo('.header');
                }).catch(err=>{
                    self.isAddToCard = true;
                    self.infoText = err;
                    self.addsText = 'Товара нет в наличии.';
                });
            },
            toggleFavorite(){
                if(this.isFavorite){
                    axios.post('product/unfavorite', {id: this.product.id}).then(res=> {
                        this.isFavorite = false;
                    });
                }else{
                    axios.post('product/favorite', {id: this.product.id}).then(res=> {
                        this.isFavorite = true;
                    }).catch(err=>console.log(err));
                }
            },
            toggleAttribute(event){
                let index = -1;
                let self = this;
                this.prices.forEach((el, i)=>{
                    let diff = _.difference(el.attribute_ids,this.selectedAttributes);
                    if(!diff.length){
                        self.currentPrice = el.price;
                        self.currentQuantity = el.quantity;
                        self.currentId = el.product_attribute_id;
                        if(self.currentQuantity){
                            self.canAdd = true;
                        }else{
                            self.canAdd = false;
                        }
                    }
                });
            }
        },
        computed:{
            checkFavorite(){
                return this.isFavorite;
            },
            getUser(){
                return this.$store.getters.loginStatus;
            }
        }
    }
</script>

<style>
    .favor-enter-active, .favor-leave-active {
        transition: all .35s ease;
    }
    .favor-enter, .favor-leave-to /* .fading-leave-active до версии 2.1.8 */ {
        opacity: 0
    }
</style>