<template>
    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8 info">
                    <div class="info_future">
                        <h3>Видиние и предназначение</h3>
                        <p>Мы сеть магазинов и интернет-магазин мужской одежды, обуви и аксессуаров. У нас вы найдете все что нужно современному и стильному мужчине. От шорт и футболок до зимних курток и ботинок.
                            <br>
                            Мы следим за тенденциями и новинками в мире моды, и предоставляем широкий ассортимент товара классического, повседневного и спортивного стиля
                            <br>
                            Для постоянных клиентов, у нас действует накопительная система скидок.
                            <br>
                            Регулярно мы устраиваем распродажи и акции что бы порадовать покупателей.
                            <br>
                            К каждому клиенту у нас индивидуальный подход, поэтому после каждого заказа менеджер связывается  с Вами для уточнения деталей что бы сделать покупку приятной составлявшей процесса.
                            <br>
                            "For Men" это не только магазин, это мужской клуб в котором каждым мужчина, может узнать о новостях и тенденциях в мире моды, получить советы по составлению своего стиля, уходом за одеждой, обувью и аксессуаров и еще много полезной информации. А также обсудить с нами и другими мужчинами интересующие вопросы.
                            <br>
                            Так что ждем Вас в наших клубах в социальных сетях!
                        </p>
                    </div>
                    <div class="info_future">
                        <h3>Наша миссия</h3>
                        <p>Предоставить современному мужчине широкий выбор стильной и качественной продукции, воплотить его желание в реальность.</p>
                    </div>
                </div>
                <div class="col-12 col-md-4 info_worth">
                    <h3>Наши ценности</h3>
                    <div class="worth_block">
                        <div class="circle">
                            <img src="images/about/wallet.png" alt="">
                        </div>
                        <p>Мы предлагаем широкий ассортимент, мужской одежды от классического до спортивного стиля.</p>
                    </div>
                    <div class="worth_block">
                        <div class="circle">
                            <img src="images/about/wallet-(3).png" alt="">
                        </div>
                        <p>Мы предлагаем качество по доступным ценам</p>
                    </div>
                    <div class="worth_block">
                        <div class="circle">
                            <img src="images/about/sales.png" alt="">
                        </div>
                        <p>В наших магазинах и на сайте постоянно проводятся акции, скидки и вручаются подарки</p>
                    </div>
                    <div class="worth_block">
                        <div class="circle">
                            <img src="images/about/t-shirt.png" alt="">
                        </div>
                        <p>В наших отделах Вы всегда найдете одежду и обувь для любого времени года</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row similar shops-photo">
            <div class="container">
                <h3 class="row text-center justify-content-center photo_title">Фото наших магазинов</h3>
                <div class="row">
                    <div class="photo col-6 col-sm-4 col-md-3 col-xl-2" v-for="(item, index) in list" height="100" @click="$preview.open(index, list)">
                        <img class="preview-img" :src="item.src" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        data(){
            return {
                list: [{
                    src: 'images/shops/photo5408955626899482668.jpg',
                    w: 1280,
                    h: 960
                },{
                    src: 'images/shops/photo5408955626899482669.jpg',
                    w: 1280,
                    h: 960
                },{
                    src: 'images/shops/photo5408955626899482670.jpg',
                    w: 1280,
                    h: 960
                },{
                    src: 'images/shops/photo5408955626899482671.jpg',
                    w: 1280,
                    h: 960
                },{
                    src: 'images/shops/1.jpg',
                    w: 960,
                    h: 1280
                },{
                    src: 'images/shops/2 (2).jpg',
                    w: 960,
                    h: 1280
                },{
                    src: 'images/shops/2.jpg',
                    w: 1280,
                    h: 960
                },{
                    src: 'images/shops/3 (2).jpg',
                    w: 960,
                    h: 1280
                },{
                    src: 'images/shops/3.jpg',
                    w: 960,
                    h: 1280
                },{
                    src: 'images/shops/4.jpg',
                    w: 1280,
                    h: 960
                },{
                    src: 'images/shops/6.jpg',
                    w: 960,
                    h: 1280
                },{
                    src: 'images/shops/6 (2).jpg',
                    w: 960,
                    h: 1280
                }]
            };
        },
        created(){
            this.$store.dispatch('changeTitle', "О Нас");
        }
    }
</script>