<template>
    <div class="contacts">
        <div class="container">
            <div class="row align-items-center contact_box">
                <div class="col-12 col-md-6 timing">
                    <div class="row">
                        <h4 class="col-12">Прием заказов по телефону:</h4>
                        <span class="col-4 col-md-6 text">По Украине</span>
                        <a href="tel:+380669919969" class="col-8 col-md-6 help">
                            <span>+38(066) 991 9969</span>
                            <span class="help_social">
                            <img src="images/contacts/telegram.svg" alt="Telegram">
                            <img src="images/contacts/viber.svg" alt="Viber">
                            <img src="images/contacts/whatsapp.svg" alt="Whatsup">
                                </span>
                        </a>
                    </div>
                    <div class="row">
                        <h4 class="col-12">График работы контактного центра:</h4>
                        <span class="col-6 text">Понедельник-пятница</span>
                        <span class="col-6 time">с 10:00 до 18:00</span>
                        <span class="col-6 text">Суббота, воскресенье</span>
                        <span class="col-6 time">выходной</span>
                    </div>
                </div>
                <form class="col-12 col-md-4 form" @submit.prevent="onSubmit">
                    <h4>Есть вопросы?</h4>
                    <input type="text" required v-model="name" placeholder="Ваше имя">
                    <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required v-model="email" placeholder="E-mail">
                    <textarea v-model="text" cols="30" rows="4" placeholder="Ваш вопрос"></textarea>
                    <p v-if="text.length < 10">
                        Минимальное кол-во символов - 10!
                    </p>
                    <button :class="{disabled: !isValid}">Отправить</button>
                </form>
                <div class="col-12 col-md-2 image">
                    <img src="images/contacts.png" alt="">
                </div>
                <transition name="success">
                    <modal-thanks v-if="showSuccessModal" @close="closeWindow" :adds="thanksAdd" :info="thanksRegInfo"></modal-thanks>
                </transition>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        data(){
            return{
                email: '',
                name: '',
                text: '',
                isError: false,
                showSuccessModal: false,
                thanksAdd: 'Наш менеджер скоро свяжется с Вами!',
                thanksRegInfo: 'Ваше сообщение успешно отправлено'
            }
        },
        methods:{
            onSubmit(){
                let self = this;
                axios.post('/contacts', {email: this.email, name: this.name, text: this.text}).then(res=>{
                    self.showSuccessModal = true;
                    self.email = '';
                    self.name = '';
                    self.text = '';
                }).catch(err=>console.log(err));
            },
            closeWindow(){
                this.showSuccessModal = false;
            },
        },
        computed:{
            isValid(){
                return this.text.length > 10;
            }
        },
        created(){
            this.$store.dispatch('changeTitle', "Контакты");
        }
    }
</script>