<template>
    <div class="delivery help">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 accordion">
                    <div class="accordion_single row">
                        <div class="single_title" @click="ship=!ship">
                            <h4 :class="{active: ship}">Доставка заказа</h4>
                            <img :class="{active: ship}" src="images/down-arrow.svg" alt="">
                        </div>
                        <transition name="help">
                            <p v-if="ship" class="timing row">
                                <strong class="col-12">Доставка до двери по всей Украине</strong>
                                <span class="text col-12">
                                    Вы можете заказать доставку по указанному адресу курьером компании “Нова пошта” в пределах Украины.
                                <br>
                                Срок доставки 5 рабочих днейпо Украине с момента оформления заказа. Если сумма вашего заказа превышает 2000 грн., доставка осуществляется бесплатно. Стоимость доставки в остальных случаях зависит от города доставки и объема заказа согласно тарифам компании “Нова Пошта”.
                                </span>
                                <strong class="col-12">Доставка до отделения «Нова Пошта» по всей Украине </strong>
                                <span class="text col-12">
                                    Вы можете заказать доставку на любое удобное отделение службы «Новая Почта» по всей Украине.
                                    <br>
Срок доставки по Украине до 5 рабочих дней с момента оформления заказа. Если сумма вашего заказа превышает 2000 грн., доставка осуществляется бесплатно. Стоимость доставки в остальных случаях зависит от города доставки и объема заказа согласно тарифам компании “Нова Пошта”
                                </span>
                                <strong class="col-12">Самовывоз в г. Днепр</strong>
                                <span class="col-12">
                                    Вы можете забрать свой заказ с наших магазинов в г. Днепре, по следующим адресам:
                                </span>
                                <ul class="col-12">
                                    <li>ТРК Караван, ул. Нижнеднепровская, 17 (2 этаж)</li>
                                     <li>ТРК Appolo, ул. Титова, 36 (1 этаж)</li>
                                     <li>ТК Новый центр, ул. Глинки, 1 (1 этаж)</li>
                                     <li>ТВК Славянский базар, ул. Курчатова, 1 (1 этаж)</li>
                                </ul>
                                <span class="col-12">
                                    Срок подготовки такого заказа может составить до 3 рабочих дней. Как только заказ будет собран и доставлен в магазин, мы сразу свяжемся с вами.
                                </span>
                            </p>
                        </transition>
                    </div>
                </div>
                <div class="col-12 col-md-6 accordion">
                    <div class="accordion_single row">
                        <div class="single_title" @click="payment=!payment">
                            <h4 :class="{active: payment}">Оплата</h4>
                            <img :class="{active: payment}" src="images/down-arrow.svg" alt="">
                        </div>
                        <transition name="help">
                            <p v-if="payment" class="timing row">
                            <strong class="col-12">Наличными при получении заказа в отделении «Нова Пошта»</strong>
                            <span class="col-12">Оплатите стоимость заказа (+стоимость доставки при заказе до 2000 грн), после того, как проверите товары в отделении “Нова пошта”.</span>
                            <strong class="col-12">Наличными курьеру «Нова Пошта»</strong>
                            <span class="col-12">Оплатите стоимость заказа (+стоимость доставки при заказе до 2000 грн) наличными в момент доставки по вашему адресу, после того, как проверите товары.</span>
                            <strong class="col-12">
                                Наличными или банковской картой при самовывозе в г. Днепр
                            </strong>
                            <span class="col-12">
                                Оплатите стоимость заказа наличными или банковской картой при помощи pos-терминала при получении заказа в пункте самовывоза, после того, как проверите товары.
                            </span>
                            <strong class="col-12">
                                Банковской картой на сайте (Visa или MasterCard)
                            </strong>
                            <span class="col-12">Выберите способ оплаты “Банковской картой” во время оформления заказа. После проверки данных о заказе, вы попадете на страницу платежной системы.</span>
                            <span class="col-12">Введите:</span>
                            <ul class="col-12">
                                <li>Номер карты</li>
                                <li>срок действия карты</li>
                                <li>CVV/CVC код</li>
                            </ul>
                            <span class="col-12">И нажмите кнопку “Продолжить”. После этого на странице отобразится информация о состоянии оплаты. Оплата онлайн происходит на странице, защищенной сертификатами безопасности. Если сумма вашего заказа меньше 2000 грн, при получении заказа вы оплачиваете стоимость доставки отдельно.</span>
                            <span class="col-12">При выборе любого способа доставки и оплаты, после оформления заказа с Вами свяжется наш менеджер чтобы подтвердить заказ, ответить на ваши вопросы и согласовать детали доставки и оплаты.</span>
                            </p>
                        </transition>
                    </div>
                </div>
                <div class="col-12 col-md-6 accordion">
                    <div class="accordion_single row">
                        <div class="single_title" @click="itemback=!itemback">
                            <h4 :class="{active: itemback}">Возврат товара</h4>
                            <img :class="{active: itemback}" src="images/down-arrow.svg" alt="">
                        </div>
                        <transition name="help">
                            <p v-if="itemback" class="timing">
                                Мы гарантируем право на возврат товара, который Вам не подошел и не был в использовании.
                                <br>
                                Обязательным условием является отсутствие повреждений, следов использования и сохранение оригинальной упаковки (прозрачный пакет с кодом товара). Если Вы возвращаете товар, купленный в виде комплекта, необходимо вернуть все его составляющие.
                                <br>
                                Право на возврат товара сохраняется в течение 14 дней с момента выкупа посылки с заказом.
                            </p>
                        </transition>
                    </div>
                </div>
                <div class="col-12 col-md-6 accordion">
                    <div class="accordion_single row">
                        <div class="single_title" @click="guard=!guard">
                            <h4 :class="{active: guard}">Защита персональных данных</h4>
                            <img :class="{active: guard}" src="images/down-arrow.svg" alt="">
                        </div>
                        <transition name="help">
                            <p v-if="guard" class="timing">
                                Информируем Вас о том, что личные данные наших клиентов хранятся в базе данных компании  for-men.ua.
                                <br>
                                Личные данные собираются и обрабатываются с целью реализации уставной хозяйственной деятельности компании, рассылки информации о промоционных и рекламных акциях bonprix и ее партнеров.
                                <br>
                                Обработка и использование базы данных производится согласно с положениями закона о защите персональных данных.
                                <br>
                                Bonprix имеет право на предоставление персональных данных клиентов своим партнерам в рекламных и промоционных целях с соблюдением требований, указанных в положениях закона о защите персональных данных, а также, операторам мобильной связи (только номера мобильных телефонов) для произведения отправки смс с информированием клиентов о статусе заказа.
                                <br>
                                Каждый клиент сохраняет за собой право доступа к своим персональным данным, право на внесение исправлений, а также на требование о прекращение обработки данных.
                            </p>
                        </transition>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        data(){
            return{
                ship: false,
                payment: false,
                itemback: false,
                guard: false
            }
        },
        mounted(){
            this.$store.dispatch('changeTitle', "Доставка и оплата");
        }
    }
</script>