<template>
    <div class="help">
        <div class="container">
            <div class="row">
                <div class="col-12 contacts accordion">
                    <div class="accordion_single row">
                        <div class="single_title" @click="zakaz=!zakaz">
                            <h4 :class="{active: zakaz}">Как оформить заказ ?</h4>
                            <img :class="{active: zakaz}" src="images/down-arrow.svg" alt="">
                        </div>
                        <transition name="help">
                            <p v-if="zakaz" class="timing">
                                <span>Сделать заказ на For-men.ua просто. Вам лишь нужно:</span>
                                <ol>
                            <li>Перейти в интересующий Вас раздел; </li>
                             <li>  Выбрать товар;</li>
                              <li>  Выбрать цвет и размер;</li>
                              <li>  Нажать кнопку добавить в корзину;</li>
                             <li>   На экране появится всплывающее окно, в котором будет возможность либо вернуться к покупкам, нажав кнопку «Продолжить покупки», либо перейти к оформлению заказа, нажав кнопку «Оформить заказ» внизу. Выберите необходимое действие;</li>
                             <li>  Чтобы удалить из Корзины ненужные позиции, наведите курсор на эту позицию, справа появится кнопка «Удалить»;</li>
                              <li> 	На странице оформления нужно внести все контактные данные*;</li>
                              <li> 	Чтобы применить промо-код или Ваш дисконт укажите код в соответствующем поле;</li>
                              <li> 	Выбирите вариант оплаты заказа: при получении или онлайн-оплата картой;</li>
                              <li>  	Нажмите кнопку «Отправить заказ»;</li>
                              <li> 	После нажатия кнопки «Отправить заказ» появится сообщение об успешно завершенной процедуре оформления заказа;</li>
                                <li>После этого с вами свяжется наш менеджер для уточнения деталей заказа.</li></ol>
                            </li>
                        </ol>
                            <span>Если же все таки Вам не удалось оформить заказ, то свяжитесь с нами по номеру:
<a href="tel:+380669919969" class="help"><span>+380669919969</span><img src="images/contacts/telegram.svg" alt="Telegram">
                            <img src="images/contacts/viber.svg" alt="Viber">
                            <img src="images/contacts/whatsapp.svg" alt="Whatsup"></a> и мы оформим ваш заказ в реальном времени.
</span>
                            </p>
                        </transition>
                    </div>
                    <div class="accordion_single row">
                        <div class="single_title" @click="vozvrat= !vozvrat">
                            <h4 :class="{active: vozvrat}">Возврат</h4>
                            <img :class="{active: vozvrat}" src="images/down-arrow.svg" alt="">
                        </div>
                        <transition name="help">
                            <p v-if="vozvrat" class="timing">
                                Товар заказанный на For-men.ua и не подошедший по каким либо причинам (фасон, размер, цвет), может быть возращен в течении 14 дней, не считая дня покупки.
                                <br>
                                Для оформления возврата Вам необходимо связать с нашим менеджером для уточнения причины, реквизитов и удобного способа отправки для Вас.
                                <br>
                                Деньги за товар будут возвращены в течении 2х рабочих дней с момента получения нами товара, переводом на карту или же любым другим удобным для Вас способом.
                                <br>
                                Обратите внимание: возврат товара надлежащего качества возможен при условии сохранения его потребительских свойств и товарного вида  (отсутствие следов эксплуатации и носки, наличие оригинальной и не поврежденной бирки).
                                <br>
                                Доставка возврата осуществляется за счет покупателя, если товар с браком/неверной комплектации, сумма доставки возмещается покупателю.
                                <br>
                                Контакт-центр: <a href="tel:+380669919969" class="help"><span>+380669919969</span><img src="images/contacts/telegram.svg" alt="Telegram">
                                <img src="images/contacts/viber.svg" alt="Viber">
                                <img src="images/contacts/whatsapp.svg" alt="Whatsup"></a>
                            </p>
                        </transition>
                    </div>
                    <div class="accordion_single row">
                        <div class="single_title" @click="clouses=!clouses">
                            <h4 :class="{active: clouses}">Как выбрать одежду своего размера?</h4>
                            <img :class="{active: clouses}" src="images/down-arrow.svg" alt="">
                        </div>
                        <transition name="help">
                            <div v-if="clouses" class="texto">
                                <p>
                                - Вам понадобится провести измерения с помощью сантиметровой ленты. Для определения подходящего размера необходимо соотнести полученные измерения с размерами в таблице.
                                <br>
                                - При измерении обхвата груди лента должна плотно прилегать к телу, спереди проходить по наиболее выступающим точкам, сбоку через подмышечные впадины, сзади обхватывая лопатки.
                                <br>
                                - Обхват талии измеряется строго горизонтально по самой узкой части тела, проходя через самую выступающую точку живота.
                                <br>
                                - При измерении обхвата бедер лента должна находиться горизонтально, проходя посредине бедра и сзади по наиболее выступающим точкам ягодиц.
                                <br>
                                </p>
                                <div class="images">
                                    <img src="images/help/clouthes.jpg" alt="">
                                    <img src="images/help/clouthes1.jpg" alt="">
                                </div>
                            </div>
                        </transition>
                    </div>
                    <div class="accordion_single row">
                        <div class="single_title" @click="shoes=!shoes">
                            <h4 :class="{active: shoes}">Как выбрать обувь своего размера?</h4>
                            <img :class="{active: shoes}" src="images/down-arrow.svg" alt="">
                        </div>
                        <transition name="help">
                            <div class="texto shoes" v-if="shoes">
                                <p>
                                    - Вам понадобится провести измерения с помощью сантиметровой ленты. Для определения подходящего размера необходимо соотнести полученные измерения с размерами в таблице.
                                    <br>
                                    - Поставьте ногу на чистый лист бумаги. Отметьте крайние границы ступни и измерьте расстояние между самыми удаленными точками стопы.
                                    <br>
                                </p>
                                <div class="images">
                                    <img src="images/help/shoes.jpg" alt="">
                                </div>
                            </div>
                        </transition>
                    </div>

                </div>
            </div>
        </div>
        <!--<div class="row similar"></div>-->
        <div class="help_box">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4 single">
                        <div class="circle">
                            <img src="images/help/info.svg" alt="">
                        </div>
                        <span>Позвоните по телефону:</span>
                        <a href="tel:+380669919969">+380669919969</a>
                    </div>
                    <div class="col-12 col-md-4 single">
                        <div class="circle big">
                            <img src="images/help/call.svg" alt="">
                        </div>
                        <span>Оставьте свой номер,<br> и мы Вам перезвоним</span>
                        <a href="#" @click.stop.prevent="isMessage = true">Оставьте заявку</a>
                    </div>
                    <div class="col-12 col-md-4 single">
                        <div class="circle">
                            <img src="images/help/chat.svg" alt="">
                        </div>
                        <span>Обратитесь в онлайн в чат</span>
                        <a href="#" @click.stop.prevent="openChat">Оставьте заявку</a>
                    </div>
                </div>
            </div>
        </div>
        <transition name="articlereview">
            <modal-message v-if="isMessage" @showThanks="showThanksModal = true" @close="isMessage = false"></modal-message>
            <modal-thanks v-if="showThanksModal" @close="showThanksModal = false" :adds="thanksAdd" :info="thanksRegInfo"></modal-thanks>
        </transition>
    </div>
</template>

<script>
    export default{
        data(){
            return{
                zakaz: false,
                vozvrat: false,
                clouses: false,
                shoes: false,
                isMessage: false,
                showThanksModal: false,
                thanksRegInfo: 'Спасибо за обращение!',
                thanksAdd: 'Наш менеджер свяжется с Вами в скором времени!'
            }
        },
        created(){
            this.$store.dispatch('changeTitle', "Помощь");
        },
        methods:{
            openChat(){
                let el = document.querySelector('.sh_btn_right_center');
                el.click();
            }
        }
    }
</script>

<style>
    .help-enter-active, .help-leave-active {
        transition: all 1s ease;
    }
    .help-enter,.help-leave-to{
        opacity: 0;
    }
</style>