<template>
    <div class="offers">
        <div class="container">
            <div class="title row text-center">
                <h4>Здесь вы можете оставить отзывы или пожелания о работе нашего интернет магазина.</h4>
                <h4>Ваше мнение очень важно для нас.</h4>
            </div>
            <form class="row justify-content-center" @submit.prevent="onSubmit">
                <div class="col-12 col-md-8 col-xl-7 form" >
                    <transition name="fade" mode="out-in">
                        <div v-if="isEmpty" class="requirement">
                            Пожалуйста, введите сообщение.
                        </div>
                    </transition>
                    <textarea id="message" placeholder="Оставьте Ваш отзыв" required class="row" v-model.trim="message" cols="40" rows="4"></textarea>
                    <label for="message" v-if="!getUser">Войдите в свой аккаунт или зарегистрируйтесь</label>
                    <div class="products-all user row justify-content-end align-items-center">
                        <span v-if="!getUser">*для зарегистрированных пользователей</span>
                        <a v-if="!getUser" href="#" @click.stop.prevent="showLoginModal = true">Войти</a>
                        <button :disabled="!getUser">Отправить</button>
                    </div>
                </div>
            </form>
            <transition name="fade" mode="out-in">
                <modal-login v-if="showLoginModal" @close="showLoginModal = false" @register="showRegisterModal=true"></modal-login>
                <modal-register v-if="showRegisterModal" @close="showRegisterModal = false" @login="showLoginModal = true"></modal-register>
                <modal-thanks v-if="showThanks" @close="showThanks = false" :info="modalMessage"></modal-thanks>
            </transition>
            <div class="comments row">
                <div v-for="offer in offers" class="col-12 col-md-6 comment">
                    <div class="row justify-content-between">
                        <div class="image col-3 col-md-3">
                            <div class="box">
                                <img src="images/male-user.svg" alt="">
                            </div>
                        </div>
                        <div class="info col-9 col-md-8">
                            <div class="info_title">
                                <h6>{{offer.user.name}}</h6>
                                <span class="date">{{offer.created_at | moment("DD MMMM YYYY")}}</span>
                            </div>
                            <p>{{offer.text}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        props: ['offers'],
        data(){
            return{
               message: '',
                showLoginModal: false,
                showRegisterModal: false,
                isEmpty: false,
                showThanks: false,
                modalMessage: ''
            }
        },
        watch:{
            message: function(value){
                this.isEmpty = false;
            }
        },
        methods:{
            onSubmit(){
                if(!this.message.trim().length){
                    return this.isEmpty = true;
                }
                let self = this;
                axios.post('offers/add', {text: this.message}).then(res=>{
                    console.log(res);
                    self.message = "";
                    self.modalMessage="Спасибо, за Ваше предложение!";
                    self.showThanks = true;
//                    Спасибо, за Ваше предложение!
                }).catch(err=>console.log(err));
            }
        },
        computed:{
            getUser(){
                return this.$store.getters.loginStatus;
            }
        },
        created(){
            this.$store.dispatch('changeTitle', "Отзывы и предложения");
        }
    }
</script>