<template>
    <div class="shops" :class="{add_address: contacts}">
        <contacts v-if="contacts"></contacts>
        <div class="row" :class="{contacts_content: contacts}">
            <div class="container">
            <div class="row text-center" v-if="!contacts">
                <h3 class="title col">Сеть магазинов стильной мужской одежды, обуви и аксессуаров For Men</h3>
            </div>
            <div class="row text-center justify-content-center" v-else>
                <h3 class="title title-red">Адресса магазинов</h3>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 single" v-for="shop in shops">
                    <div class="row">
                        <div class="col-12 col-md-5 image">
                            <img :src="'images/shops/'+shop.image" alt="">
                        </div>
                        <div class="col-12 col-md-7 info">
                            <h2>{{shop.title}}</h2>
                            <span class="address" v-html="shop.address"></span>
                            <h6>Время работы:</h6>
                            <div class="time">
                                <span>с </span>
                                <span>{{shop.begin}}</span>
                                <span> до </span>
                                <span>{{shop.finish}}</span>
                            </div>
                            <a class="phone" :href="'tel:'+shop.phone">{{shop.phone}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="justify-content-center row similar" :class="{contact_foot: contacts}">
            <div class="container">
                <div class="row text-center"><h4 class="col">Карта сети магазинов For Men</h4></div>
                <div id="map" class="row"></div>
            </div>
        </div>
    </div>
</template>


<script>
    import GoogleMapsLoader from 'google-maps';
    GoogleMapsLoader.KEY = 'AIzaSyB3d3CqFTUuK6HZDytoBjys6MQAo73qcrc';
    export default{
        props: ['shops', 'contacts'],
        created(){
            this.$store.dispatch('changeTitle', "Наши магазины");
        },
        mounted(){
            let self= this;
            GoogleMapsLoader.load(function(google) {
                let map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat:48.48041432, lng: 35.05057526},
                    zoom: 11,
                    styles: [
                        {
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#f5f5f5"
                                }
                            ]
                        },
                        {
                            "elementType": "labels.icon",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#616161"
                                }
                            ]
                        },
                        {
                            "elementType": "labels.text.stroke",
                            "stylers": [
                                {
                                    "color": "#f5f5f5"
                                }
                            ]
                        },
                        {
                            "featureType": "administrative.land_parcel",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#bdbdbd"
                                }
                            ]
                        },
                        {
                            "featureType": "poi",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#eeeeee"
                                }
                            ]
                        },
                        {
                            "featureType": "poi",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#757575"
                                }
                            ]
                        },
                        {
                            "featureType": "poi.park",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#e5e5e5"
                                }
                            ]
                        },
                        {
                            "featureType": "poi.park",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#9e9e9e"
                                }
                            ]
                        },
                        {
                            "featureType": "road",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#ffffff"
                                }
                            ]
                        },
                        {
                            "featureType": "road.arterial",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#757575"
                                }
                            ]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#dadada"
                                }
                            ]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#616161"
                                }
                            ]
                        },
                        {
                            "featureType": "road.local",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#9e9e9e"
                                }
                            ]
                        },
                        {
                            "featureType": "transit.line",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#e5e5e5"
                                }
                            ]
                        },
                        {
                            "featureType": "transit.station",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#eeeeee"
                                }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#c9c9c9"
                                }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#9e9e9e"
                                }
                            ]
                        }
                    ]
                });
                self.shops.forEach(el=>{
                    new google.maps.Marker({
                        position: new google.maps.LatLng(el.lat, el.lng),
                        icon: 'images/mark.png',
                        map: map
                    })
                });
            })
        }
    }
</script>