<template>
    <span>
        <a href="#" v-if="isFavorited" @click.prevent="unFavorite(product)">
            <i  class="fa fa-heart"></i>
        </a>
        <a href="#" v-else @click.prevent="favorite(product)">
            <i  class="fa fa-heart-o"></i>
        </a>
    </span>
</template>

<script>
    export default {
        props: ['product', 'favorited'],

        data: function() {
            return {
                isFavorited: '',
            }
        },

        mounted() {
            this.isFavorited = this.isFavorite ? true : false;
        },

        computed: {
            isFavorite() {
                return this.favorited;
            },
        },

        methods: {
            favorite(product) {
                axios.post('/product/favorite', {id: product})
                        .then(response => this.isFavorited = true)
                        .catch(response => console.log(response.data));
            },

            unFavorite(product) {
                axios.post('/product/unfavorite', {id: product})
                        .then(response => this.isFavorited = false)
                        .catch(response => console.log(response.data));
            }
        }
    }
</script>