<template>
    <div class="container">
        <div class="row article" v-for="article in articles">
            <a :href="'blog/'+article.slug" class="col-12 col-md-3 article_img" v-if="article.images.length">
                <img :src="article.images[0].img_name" :alt="article.images[0].alt">
                <span class="date">{{article.created_at | moment("DD MMMM YYYY")}}</span>
            </a>
            <a :href="'blog/'+article.slug" class="col-12 col-md-3 article_img" v-else>
                <span class="date">{{article.created_at | moment("DD MMMM YYYY")}}</span>
            </a>
            <div class="col-12 col-md-9 product article_text">
                <span class="text_title"><a :href="'blog/'+article.slug">{{article.title}}</a></span>
                <p class="text_description">{{article.short_text}}</p>
                <div class="product-description text_info">
                    <a class="info_link" :href="'blog/'+article.slug">
                        Подробнее
                    </a>
                    <div class="description_share info_social">
                        <span>Поделиться ссылкой: </span>
                        <a rel="nofollow" :href="article.slug | facebookShare" target="_blank"><img src="images/social/facebook.svg" alt=""></a>
                        <a rel="nofollow" :href="article.slug | twitterShare" target="_blank"><img src="images/social/twitter.svg" alt=""></a>
                        <a rel="nofollow" :href="article.slug | googleShare" target="_blank"><img src="images/social/google-plus.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        props: ['articles'],
        filters:{
            facebookShare(value){
                return `https://www.facebook.com/sharer.php?s=100&p[url]=${encodeURIComponent(window.location.hostname+'/blog/'+value)}`;
            },
            twitterShare(value){
                return `https://twitter.com/home?status=${encodeURIComponent(window.location.hostname+'/blog/'+value)}`
            },
            googleShare(value){
                return `https://plus.google.com/share?url=${encodeURIComponent(window.location.hostname+'/blog/'+value)}`;
            }
        },
        created(){
            this.$store.dispatch('changeTitle', "Статьи");
        }
    }
</script>