<template>
    <div class="banner">
        <div class="container">
            <div class="row carousel">
                <v-touch @swipeleft="next" class="row" :options="{touchAction: 'pan-y'}" @swiperight="prev">
                    <div class="carousel__wrap" :style="{transform: slidering}">
                        <slide v-for="slide in banners" :key="slide.id" :index="index" :slide="slide"></slide>
                    </div>
                </v-touch>
                <div class="carousel__nav">
                    <i class="material-icons nav__arrow" @click="prev">navigate_before</i>
                    <span class="nav__index">0{{index+1}}</span>
                    <span class="nav__length">0{{banners.length}}</span>
                    <i class="material-icons nav__arrow" @click="next">navigate_next</i>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Slide from './Slide.vue';
//    import { Carousel, Slide } from 'vue-carousel';
    export default{
        props: ['banners'],
        data(){
            return {
                index: 0,
                timer: setInterval(this.next,5000)
            }
        },
        methods:{
            next(){
                this.index++;
                this.sliding();
                if(this.index>this.banners.length-1){
                    this.index=0;
                }
            },
            prev(){
                this.index--;
                this.sliding();
                if(this.index<0){
                    this.index = this.banners.length-1;
                }
            },
            sliding(){
                clearInterval(this.timer);
                this.timer = setInterval(this.next,5000);
            }
        },
        computed:{
            slidering(){
                return this.index ? `translateX(-${this.index*100}%)`: `translateX(0%)`;
            }
        },
        mounted:function(){
            this.sliding();
        },
        components:{
            "slide":Slide
//            Carousel,
//            Slide
        }
    }
</script>