<template>
    <div class="container">
        <div class="row justify-content-center">
            <a v-for="(bread, index) in breadcrumbs" :key="index" :href="bread.url">
                {{bread.title}}
            </a>
        </div>
        <div class="row justify-content-center" v-if="headTitle">
            <span class="h1">{{ getTitle }}</span>
        </div>
    </div>
</template>

<script>
    export default{
        props:['menu', 'breadcrumbs'],
        data(){
            return {
                headTitle: this.$store.getters.getTitle
            }
        },
        computed:{
            getTitle(){
                return this.$store.getters.getTitle;
            }
        },
        mounted(){
            this.$store.dispatch('changeTitle', this.breadcrumbs[this.breadcrumbs.length-1].title);
            this.headTitle = this.$store.getters.getTitle;
        }
    }
</script>