<template>
    <div class="col-6 col-md-3 col-xl-2 basket">
        <button class="basket__btn" @click="isActive = !isActive">
            <!--<i class="material-icons">shopping_cart</i>-->
            <img src="images/shopping-basket.svg" alt="Cart">
            <span class="result">{{getResultsPrice}} <span>грн.</span></span>
            <span class="countItems">{{getResultsTotal}}</span>
        </button>
        <transition name="basketlist">
            <div class="basket__list" v-if="getResultsTotal && isActive">
                <div v-for="product in getResultsProducts">
                    <div class="list_item">
                        <img :src="product.images[0].img_name" alt="">
                        <a :href="'product/'+product.real_products.slug">{{product.real_products.title}}</a>
                        <!--<span>{{product.id}}</span>-->
                        <!--<input type="number" min="1" @change="changeQuantity(product)" v-model="product.quantity">-->
                        <button @click="changeQuantity(product.quantity,product, 'minus')">-</button>
                        <span>{{product.quantity}}</span>
                        <button @click="changeQuantity(product.quantity,product, 'plus')">+</button>
                        <i class="material-icons" @click="removeProduct(product)">close</i>
                    </div>
                </div>
                <transition name="basketlist">
                    <p v-if="freeShipping > 0">
                       Докупите товаров еще на {{freeShipping}} грн., чтобы получить бесплатную доставку.
                    </p>
                </transition>
                <a href="cart" class="cart">Перейти в корзину</a>
            </div>
            <div class="basket__list" v-else-if="!getResultsTotal && isActive">
                <p class="empty_cart">
                    В корзине нет товаров.
                </p>
            </div>
        </transition>
    </div>
</template>

<script>
    export default{
        data(){
            return{
                isActive: false
            }
        },
        methods:{
            changeQuantity(quantity, product, action){
                if(action == "plus"){
                    quantity++;

                }else{
                    quantity--;
                    if(quantity < 1){
                        quantity = 1;
                        return;
                    }
                }
                this.$store.dispatch('changeQuantity', {product:product, quantity:quantity});
            },
            removeProduct(product){
                this.$store.dispatch('removeProduct', product);
            }
        },
        mounted(){
            let self = this;
            window.addEventListener('click', function(e){
//                console.dir(e.target.parentNode);
                if (!e.target.parentNode.classList.contains('list_item') && !e.target.parentNode.classList.contains('basket__list') && !e.target.parentNode.classList.contains('basket') && !e.target.parentNode.classList.contains('basket__btn')&& !e.target.parentNode.classList.contains('result'))
                {
                    self.isActive = false;
                }
            })
        },
        computed:{
            getResultsPrice(){
                if(this.$store.getters.amount){
                    return this.$store.getters.amount;
                }else{
                    return 0;
                }
            },
            getResultsTotal(){
                if(this.$store.getters.product_count){
                    return this.$store.getters.product_count;
                }else{
                    return 0;
                }
            },
            getResultsProducts(){
                return this.$store.getters.products;
            },
            freeShipping(){
                return 2000 - parseInt(this.$store.getters.amount);
            }
        }
    }
</script>

<style>
    .basketlist-enter-active, .basketlist-leave-active {
        transition: all .7s ease;
    }
    .basketlist-enter  /* .fade-leave-active до версии 2.1.8 */ {
        transform: translateY(-5%);
        opacity: 0;
    }
    .basketlist-leave-to{
        transform: translateY(5%);
        opacity: 0;
    }
</style>