<template>
    <div class="col-12 col-md-3 col-xl-2 category__column">
        <div class="column_item" v-for="(category, index) in categories">
            <div v-if="category.sub_categories.length">
                <a :href="'category/'+(category.mainSlug && category.mainSlug!==category.slug ? category.mainSlug + '/' : '') + category.slug" v-if="mainLocation==category.slug" class="item_title text_left">{{category.title}}</a>
                <span class="item_title text-left" v-else :class="{active: globalIndex == index}" @click="openDropdown(index, 'category/'+(category.mainSlug && category.mainSlug!==category.slug ? category.mainSlug + '/' : '') + category.slug)">
                    {{category.title}}
                </span>
                <transition name="category" mode="out-in">
                    <ul class="item_submenu" v-if="globalIndex == index">
                        <li v-for="(item, newIndex) in category.sub_categories" :class="{active: location == item.slug}">
                            <a :href="'category/' + (category.mainSlug && category.mainSlug!==category.slug ? category.mainSlug + '/' : '') + category.slug + '/' +item.slug">{{item.title}}</a>
                        </li>
                    </ul>
                </transition>
            </div>
            <div v-else>
                <a :href="'category/'+(category.mainSlug ? category.mainSlug + '/' : '') + category.slug" class="item_title text_left">{{category.title}}</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        props: ['categories'],
        data(){
            return{
                globalIndex: 0,
                currentPosition: window.location.pathname,
                location,
                mainLocation: null,
            }
        },
        methods:{
            openDropdown(value, href){
                if(this.globalIndex == value) {
                    window.location.href = href;
                }
                this.globalIndex = value;
            }
        },
        created(){
            let arr = this.currentPosition.split('/');
            this.location = arr[arr.length-1];
            this.mainLocation = null;
            if(arr.length > 2) {
                this.mainLocation = arr[arr.length - 2];
            }
            this.categories.forEach((el,i)=>{
               if(this.location == el.slug || this.mainLocation == el.slug){
                   return this.globalIndex = i;
               }
            });
        }
    }
</script>

<style>
    .category-enter-active, .category-leave-active {
        transition: all .5s ease;
    }
    .category-enter, .category-leave-to /* .fading-leave-active до версии 2.1.8 */ {
        opacity: 0;
        /*transform: translateY(-5%);*/
        /*height: 0;*/
        /*padding: 0;*/
        /*overflow: hidden;*/
        position: absolute;

    }
</style>