<template>
    <img :src="productImages" :alt="productAlt" class="image">
</template>

<script>
    export default{
        props:['images','attribute'],
        data(){
            return{
                index: 0,
                currentAttribute: this.attribute
            }
        },
        watch:{
            currentAttribute:function (val) {
                console.log(val);
                this.changeImage(val);
            }
        },
        mounted(){
            this.changeImage();
        },
        methods:{
            changeImage(){
                for(let i = 0; i<this.images.length; i++){
                    if(this.images[i].attribute_value_id == this.currentAttribute){
                        this.index = i;
                        break;
                    }
                }
            }
        },
        computed:{
            productImages(){
//                for(let i = 0; i<this.images.length; i++){
//                    if(this.images[i].attribute_value_id == this.currentAttribute){
//                        this.index = i;
//                        break;
//                    }
//                }
                return this.images[this.index].img_name;
            },
            productAlt(){
                return this.images[this.index].alt;
            }
        }
    }
</script>