<template>
    <form class="checkout" autocomplete="off" @submit.prevent="onSubmit">
        <div class="container">
            <transition name="checkout" mode="out-in">
                <div v-if="currentTotal" class="row">
                    <div class="col-12 col-md-12 col-xl-6 checkout_info">
                        <div class="row" v-if="currentUser">
                            <h3 class="col-12">Контактные данные</h3>
                            <input type="text" required class="col-12 col-md-5"
                                   :value="currentUser ? currentUser.name : ''" placeholder="*Имя">
                            <input type="text" required class="col-12 col-md-5 ml-auto"
                                   :value="currentUser ? currentUser.lastname: ''" placeholder="*Фамилия">
                            <input type="email" class="col-12 col-md-12" :value="currentUser ? currentUser.email : ''"
                                   placeholder="Ваш E-mail*">
                            <!--<input type="tel" v-mask="'+38(999)999-9999'" v-if="currentUser.phone" required class="col-12 col-md-12" placeholder="Ваш телефон*" :value="currentUser.phone">-->
                            <!--<input type="tel" v-mask="'+38(999)999-9999'" v-else required class="col-12 col-md-12" placeholder="Ваш телефон*" v-model="phone">-->
                            <the-mask mask="+38(###)###-####" v-if="currentUser.phone" required
                                      :value="currentUser.phone" class="col-12 col-md-12 phone"
                                      placeholder="Ваш телефон*"/>
                            <the-mask mask="+38(###)###-####" required v-model="phone" v-else
                                      class="col-12 col-md-12 phone" placeholder="Ваш телефон*"/>
                        </div>
                        <div class="row" v-else>
                            <h3 class="col-12">Контактные данные</h3>
                            <input type="text" required class="col-12 col-md-5" v-model="firstName" placeholder="*Имя">
                            <input type="text" required class="col-12 col-md-5 ml-auto" v-model="lastName"
                                   placeholder="*Фамилия">
                            <input type="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                   class="col-12 col-md-12" v-model="email" placeholder="Ваш E-mail*">
                            <!--<input type="tel" required v-model="phone" class="col-12 col-md-12" placeholder="Ваш телефон*">-->
                            <the-mask mask="+38(###)###-####" required v-model="phone" class="col-12 col-md-12 phone"
                                      placeholder="Ваш телефон*"/>
                        </div>
                        <div class="row delivery">
                            <h3 class="col-12 col-md-12">
                                Способы доставки:*
                            </h3>
                            <div class="form-check col-12">
                                <div class="radio_button" @click="deliveryType=1">
                                    <div class="check" :class="{active: deliveryType == 1}"></div>
                                </div>
                                <span class="radio_text" @click="deliveryType=1" :class="{active: deliveryType == 1}">Самовывоз</span>
                            </div>
                            <div class="form-check col-12" v-if="deliveryType == 1">
                                <select required v-model="selectedShop">
                                    <option value="" selected>Выберите магазин</option>
                                    <option v-for="shop in shops" :value="shop.title+', '+shop.address">{{shop.title}},
                                        {{shop.address}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-check col-12">
                                <div class="radio_button" @click="deliveryType=2">
                                    <div class="check" :class="{active: deliveryType == 2}"></div>
                                </div>
                                <span class="radio_text" @click="deliveryType=2" :class="{active: deliveryType == 2}">Адресная доставка почта</span>
                            </div>
                            <div class="form-check col-12" v-if="deliveryType == 2">
                                <v-autocomplete :items="departmentCity" placeholder="Город*"
                                                :component-item='autocompliteinput' v-model="city" :get-label="getLabel"
                                                :minLen="0" :wait="0" @update-items="getNovaPoshtaCity">
                                </v-autocomplete>
                                <input type="text" required class="row" placeholder="Адрес*" v-model="addressPlace">
                            </div>
                            <div class="row" v-if="addresses.length">
                                <div class="form-check col-12">
                                    <div class="radio_button" @click="deliveryType=4">
                                        <div class="check" :class="{active: deliveryType == 4}"></div>
                                    </div>
                                    <span class="radio_text" @click="deliveryType=4" :class="{active: deliveryType == 4}">Адреса пользователя</span>
                                </div>
                                <div class="change_department col-12" v-if="deliveryType == 4">
                                    <select required v-model="selectedShop">
                                        <option value="" selected>Выберите адрес</option>
                                        <option v-for="depart in addresses"
                                                :value="depart.address.address">{{depart.address.address}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-check col-12">
                                <div class="radio_button" @click="deliveryType=3">
                                    <div class="check" :class="{active: deliveryType == 3}"></div>
                                </div>
                                <span class="radio_text" @click="deliveryType=3" :class="{active: deliveryType == 3}">Склад Новой почты</span>
                            </div>
                            <div class="change_city col-12" v-if="deliveryType == 3">
                                <!--<input type="text" required v-model="city" placeholder="Город">-->
                                <!--<ul>-->
                                <!--<li v-for="depart in departmentCity" @click="changeCity(depart.Description)">{{depart.Description}}</li>-->
                                <!--</ul>-->
                                <v-autocomplete required :items="departmentCity" placeholder="Город*"
                                                :component-item='autocompliteinput' v-model="city" :get-label="getLabel"
                                                :minLen="0" :wait="0" @update-items="getNovaPoshtaCity"
                                                @item-selected="getNovaPoshtaDepartament">
                                </v-autocomplete>
                            </div>
                            <div class="change_department col-12" v-if="deliveryType == 3">
                                <select required v-model="selectNovaposhtaCity">
                                    <option value="" selected>Выберите отделение</option>
                                    <option v-if="departments.length" v-for="depart in departments"
                                            :value="depart.DescriptionRu">{{depart.DescriptionRu}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row payment">
                            <h3 class="col-12 col-md-12">Способы оплаты:</h3>
                            <div class="form-check col-12" :class="{disabled: deliveryType == 1}">
                                <div class="radio_button" @click="paymentType=1">
                                    <div class="check" :class="{active: paymentType == 1}"></div>
                                </div>
                                <span class="radio_text" @click="paymentType=1" :class="{active: paymentType == 1}">Наложенный платеж (Мы сами оплачиваем доставку наложенного платежа)</span>
                            </div>
                            <div class="form-check col-12">
                                <div class="radio_button" @click="paymentType=2">
                                    <div class="check" :class="{active: paymentType == 2}"></div>
                                </div>
                                <span class="radio_text" @click="paymentType=2" :class="{active: paymentType == 2}">Банковский перевод</span>
                            </div>
                            <div class="form-check col-12" :class="{disabled: deliveryType == 3}">
                                <div class="radio_button" @click="paymentType=3">
                                    <div class="check" :class="{active: paymentType == 3}"></div>
                                </div>
                                <span class="radio_text" @click="paymentType=3" :class="{active: paymentType == 3}">Наличный рассчёт</span>
                            </div>
                        </div>
                        <div class="row adds">
                            <h3 class="col-12 col-md-12">
                                Дополнительно:
                            </h3>
                            <div class="form-group col-12 col-md-12">
                                <textarea class="form-control" placeholder="Комментарий к заказу" v-model="comment"
                                          rows="5"></textarea>
                            </div>
                        </div>

                        <div class="row payment check-status mobile">
                            <div class="form-check col-12">
                                <div class="radio_button" @click="toggleStatus">
                                    <div class="check" :class="{active: comfirmAllRules}"></div>
                                </div>
                                <div class="radio_text">
                                    <span @click="toggleStatus" :class="{active: comfirmAllRules}">Регистрируясь и отправляя заказ я </span>
                                    <a href="contract" target="_blank">принимаю условия пользовательского
                                        соглашения. </a>
                                </div>
                            </div>
                        </div>
                        <div class="row products-all justify-content-end mobile">
                            <button :class="{disabled: !comfirmAllRules}" type="submit" :disabled="!comfirmAllRules">
                                Подтвердить
                            </button>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-xl-6 checkout_products">
                        <div class="row">
                            <table class="table table-responsive text-center">
                                <thead>
                                <tr>
                                    <th class="text-left">Ваш заказ</th>
                                    <td>Количество</td>
                                    <td>Цена</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="product_row" v-for="(product,index) in currentProducts">
                                    <td class="product_main">
                                        <div v-if="product.images.length">
                                            <img :src="product.images[0].img_name" alt="">
                                        </div>
                                        <div class="info" v-if="product.product_attribute.combinations.length > 1">
                                            <a :href="'product/'+product.real_products.slug">{{product.real_products.title}}</a>
                                            <span>Цвет: {{product.product_attribute.combinations[1].attribute_value.value}}</span>
                                            <span>Размер: {{product.product_attribute.combinations[0].attribute_value.value}}</span>
                                        </div>
                                        <div class="info" v-else>
                                            <a :href="'product/'+product.real_products.slug">{{product.real_products.title}}</a>
                                            <span>Цвет: {{product.product_attribute.combinations[0].attribute_value.value}}</span>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="count_box">
                                            <button type="button"
                                                    @click="changeQuantity(product.quantity,product, 'minus')">-
                                            </button>
                                            <span>{{product.quantity}}</span>
                                            <button type="button"
                                                    @click="changeQuantity(product.quantity,product, 'plus')">+
                                            </button>
                                        </div>
                                        <i class="material-icons close" data-toggle="tooltip" data-placement="top"
                                           title="Удалить товар" style="cursor: pointer;"
                                           @click="removeProduct(product)">close</i>
                                    </td>
                                    <td>
                                        <div class="count" v-if="!hasDiscount">
                                            <span class="yellow_price" v-if="product.real_products.yellow_price">
                                                Суперцена
                                            </span>
                                            <div class="disco text-center" v-if="product.real_products.discount">
                                                <span v-if="product.real_products.discount.type == 'percent'">
                                                    {{product.real_products.discount.value}} %
                                                </span>
                                                <span v-else>
                                                    {{product.real_products.discount.value}} грн.
                                                </span>
                                            </div>
                                            <span class="full">
                                                {{getPrice(product) * product.quantity | rounding }} грн.
                                            </span>
                                            <span class="quantity">
                                                {{getPrice(product) | rounding}} x {{product.quantity}} шт.
                                            </span>
                                        </div>
                                        <div class="count" v-else>
                                            <span class="full">{{product.new_price}} грн.</span>
                                            <span class="full new_price">
                                                {{getPrice(product) * product.quantity | rounding }} грн.
                                            </span>
                                            <span class="quantity">
                                                {{getPrice(product) | rounding}} x {{product.quantity}} шт.
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12 totals">
                            <h4>Итого:</h4>
                            <h4>{{currentPrice}} грн</h4>
                        </div>
                        <div class="col-12 promo">
                            <div class="row">
                                <h6 class="col-12">Введите промокод</h6>
                                <div class="col-12">
                                    <input type="text" v-model="promo">
                                    <button type="button" @click="sendPromo">Применить</button>
                                </div>
                                <transition name="checkout">
                                    <p class="col-12" v-if="errorPromo.length" v-html="errorPromo">
                                    </p>
                                </transition>
                                <h6 class="col-12">Подарочный сертификат</h6>
                                <div class="col-12">
                                    <input type="text" v-model="certificate">
                                    <button type="button" @click="sendPromo">Применить</button>
                                </div>
                                <transition name="checkout">
                                    <p class="col-12" v-if="errorCertificate.length" v-html="errorCertificate">
                                    </p>
                                </transition>
                                <h6 class="col-12">Дисконтная карта</h6>
                                <div class="col-12">
                                    <input type="text" v-mask="'9999-9999-9999-9'" v-model="discount">
                                    <button type="button" @click="sendPromo">Применить</button>
                                </div>
                                <transition name="checkout">
                                    <p class="col-12" v-if="errorDiscount.length" v-html="errorDiscount">

                                    </p>
                                </transition>
                            </div>
                        </div>
                        <div class="row amount">
                            <div class="col-12">
                                <h4>Сумма к оплате:</h4>
                                <h4 class="final">{{currentPrice}} грн.</h4>
                            </div>
                            <p class="col-12">
                                Для бесплатной доставки сделайте заказ на 2000 грн.
                            </p>
                        </div>
                        <div class="row payment check-status desktop">
                            <div class="form-check col-12">
                                <div class="radio_button" @click="toggleStatus">
                                    <div class="check" :class="{active: comfirmAllRules}"></div>
                                </div>
                                <div class="radio_text">
                                    <span @click="toggleStatus" :class="{active: comfirmAllRules}">Регистрируясь и отправляя заказ я </span>
                                    <a href="contract" target="_blank">принимаю условия пользовательского
                                        соглашения. </a>
                                </div>
                            </div>
                        </div>
                        <div class="row products-all justify-content-end desktop">
                            <button :class="{disabled: !comfirmAllRules}" type="submit" :disabled="!comfirmAllRules">
                                Подтвердить
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row empty" v-else>
                    <h4 class="col-12 text-center">Ваша корзина пуста!</h4>
                    <div class="col-12 text-center">
                        <a href="category">Начните покупки</a>
                    </div>
                </div>
            </transition>
            <transition name="articlereview">
                <modal-thanks v-if="showThanksModal" @close="closeWindow" :adds="thanksAdd"
                              :info="thanksRegInfo"></modal-thanks>
                <modal-thanks v-if="showThanksModalAdd" @close="showThanksModalAdd = false" :adds="thanksAdd"
                              :info="thanksRegInfo"></modal-thanks>
            </transition>
        </div>
    </form>
</template>

<script>
    import AutocompliteInput from './adds/AutocompliteInput.vue';
    import {TheMask} from 'vue-the-mask'
    export default{
        props: ['basket', 'shops', 'discounts', 'addresses'],
        data(){
            return {
                firstName: '',
                lastName: '',
                email: '',
                phone: '',
                products: [],
                deliveryType: 1,
                novaposhta: {
                    api: 'https://api.novaposhta.ua/v2.0/json/'
                },
                selectedShop: '',
                departmentCity: [],
                departments: [],
                city: '',
                addressCity: '',
                addressPlace: '',
                selectNovaposhtaCity: '',
                paymentType: 3,
                comment: '',
                comfirmAllRules: true,
                currentUser: null,
                autocompliteinput: AutocompliteInput,
                showThanksModal: false,
                showThanksModalAdd: false,
                thanksRegInfo: 'Ваш заказ успешно оформлен!',
                thanksAdd: 'Наш менеджер скоро свяжется с Вами!',
                discount: '',
                certificate: '',
                promo: '',
                currentSale: '',
                saleType: 0,
                errorPromo: '',
                errorCertificate: '',
                errorDiscount: ''
//                discount
            }
        },
        watch: {
            addressCity: function (val) {
                this.selectedShop = val + ', ' + this.addressPlace;
            },
            addressPlace: function (val) {
                this.selectedShop = this.addressCity + ', ' + val;
            },
            deliveryType: function (val) {
                if (val == 3 && this.paymentType == 3) {
                    this.paymentType = 1;
                } else if (val == 1 && this.paymentType == 1) {
                    this.paymentType = 2;
                }
                console.log(val);
                this.selectedShop = "";
            }
        },
        created(){
            this.$store.dispatch('changeTitle', "Корзина");
            this.products = this.$store.getters.products;
            this.currentUser = this.$store.getters.loginStatus;

        },
        mounted(){
            if (!Array.isArray(this.discounts)) {
                this.discount = this.discounts.cart_number;
                this.errorDiscount = 'Ваша скидка составляет ' + this.discounts.value + '%.<br/> Ваши начисления составляют ' + this.discounts.summ + ' грн.';
//                this.hasDiscount = true;
            }else{
//                this.hasDiscount = this.$store.getters.is_changed;
            }
            if(this.addresses.length){
                this.deliveryType = 4;
            }
        },
        methods: {
            sendPromo(){
                let self = this;
                axios.post('order/user-discount', {
                    order_id: this.basket.order_id,
                    certificate: this.certificate,
                    cart: this.discount,
                    promo: this.promo
                }).then(res=> {
//                    if(!isNaN(res.data.promo) && !isNaN(res.data.card) && !isNaN(res.data.certificate)){
                        if (typeof res.data.promo != 'string' || typeof res.data.card != 'string' || typeof res.data.certificate != 'string') {
                            this.$store.dispatch('changeAmount', res.data.amount);
                            this.$store.dispatch('setDiscount', res.data.product);
//                            this.hasDiscount = true;
                        }
//                    }
                    if(isNaN(res.data.promo)){
                        if (typeof res.data.promo == 'string') {
                            self.errorPromo = res.data.promo;
                        } else {
                            let saleText = 'Ваша скидка составляет ';
                            let saleSelf = res.data.promo;
                            if (saleSelf.type == 'percent') {
                                self.errorPromo = saleText + saleSelf.value + '%. <br/>';
                            } else {
                                self.errorPromo = saleText + saleSelf.value + 'грн. <br/>';
                            }
                            self.errorPromo += 'Скидка не распространяется на товары с желтым ценником.';
                        }
                    }
                    if(isNaN(res.data.card)){
                        if (typeof res.data.card == 'string') {
                            self.errorDiscount = res.data.card;
                        } else {
                            let saleText = 'Ваша скидка составляет ';
                            let saleSelf = res.data.card ;
                            self.errorDiscount = saleText + saleSelf.value + '%. <br/>';
                            self.errorDiscount += 'Скидка не распространяется на товары с желтым ценником.';
                            self.saleType = 2;
                        }
                    }
                    if(isNaN(res.data.certificate)){
                        if (typeof res.data.certificate == 'string') {
                            self.errorCertificate = res.data.certificate;
                        } else {
                            let saleText = 'Ваша скидка составляет ';
                            let saleSelf = res.data.certificate ;
                            if (saleSelf.type == 'percent') {
                                self.errorCertificate = saleText + saleSelf.value + '%. <br/>';
                            } else {
                                self.errorCertificate = saleText + saleSelf.value + 'грн. <br/>';
                            }
                            self.errorCertificate += 'Скидка не распространяется на товары с желтым ценником.';
                            self.saleType = 3;
                        }
                    }
                }).catch(err=>console.log(err));
            },
            onSubmit(){
                let obj = {};
                if (!this.currentUser) {
                    obj.user_name = this.firstName;
                    obj.user_lastname = this.lastName;
                    obj.email = this.email;
                }
                obj.phone = this.phone || this.currentUser.phone;
                obj.delivery_type_id = this.deliveryType;
                if (this.deliveryType == 1) {
                    obj.address = this.selectedShop;
                } else if (this.deliveryType == 2) {
                    obj.address = this.city.DescriptionRu + ', ' + this.addressPlace;
                } else if(this.deliveryType == 3) {
                    obj.address = this.city.DescriptionRu + ', ' + this.selectNovaposhtaCity;
                }else{
                    obj.address = this.selectedShop;
                }
                obj.promo = this.promo;
                obj.certificate = this.certificate;
                obj.cart = this.discount;
                obj.payment_type_id = this.paymentType;
                obj.note = this.comment;
//                console.log(obj);
                let self = this;
                axios.post(`order/checkout/${this.basket.order_id}`, obj).then(res=> {
//                        console.log(res,window.location.host+'/order/liq-pay-redirect/'+self.basket.order_id);
//                    document.location.href = window.location.host+'/order/liq-pay-redirect/'+self.basket.order_id;
                    if (obj.payment_type_id == 2) {
                        window.location.replace('/order/liq-pay-redirect/' + self.basket.order_id);
                    } else {
                        self.thanksRegInfo = 'Ваш заказ успешно оформлен!';
                        self.thanksAdd = 'Наш менеджер скоро свяжется с Вами!';
                        self.showThanksModal = true;
                        setTimeout(()=>{
                            window.location.replace('/order/success');
                        }, 2000);
                    }
                }).catch(err=> {
                    console.log(err);
                })
            },
            closeWindow(){
                this.showThanksModal = false;
                window.location.replace('/');
            },
            changeQuantity(quantity, product, action){
                if (action == "plus") {
                    quantity++;
                } else if (quantity > 1) {
                    quantity--;
                }
                this.$store.dispatch('changeQuantity', {product: product, quantity: quantity});
            },
            getNovaPoshtaDepartament(val){
                console.log(val.Description);
                let self = this;
                let obj = {
                    modelName: 'AddressGeneral',
                    calledMethod: 'getWarehouses',
                    methodProperties: {
                        CityName: val.Description
                    },
                    apiKey: "d716a0964ed4e49a97ec39390a653ff3"
                }
                axios.post(this.novaposhta.api, obj)
                        .then(function (response) {
                            self.departments = response.data.data;
                        })
                        .catch(function (error) {
                            console.log(error);
                        })
            },
            getNovaPoshtaCity(val){
                console.log(val);
//                let obj = {
//                    modelName: 'AddressGeneral',
//                    calledMethod: 'getSettlements',
//                    methodProperties: {
//                        FindByString: val
//                    },
//                    apiKey: "d716a0964ed4e49a97ec39390a653ff3"
//                };
//                console.log(obj);
                let self = this;
//                axios.post(this.novaposhta.api, obj).then(function (response) {
                axios.post('order/city', {city: val}).then(function (response) {
//                        console.log(response.data.data[0])
                    self.departmentCity = response.data.data;
                }).catch(function (error) {
                    console.log(error);
                })
            },
            toggleStatus(){
                this.comfirmAllRules = !this.comfirmAllRules
            },
            getLabel (item) {
                return item.DescriptionRu;
            },
            getPrice(product) {
                if (!product.real_products.discount) {
//                    console.log(product.product_attribute.combinations[0].attribute_value_id,product.product_attribute.combinations[1].attribute_value_id);
//                    let self = this;
//                    let price = 0;
//                    product.real_products.prices.forEach((el, i)=>{
//                        let diff = _.difference(el.attribute_ids,[product.product_attribute.combinations[0].attribute_value_id,product.product_attribute.combinations[1].attribute_value_id]);
//                        if(!diff.length){
//                            console.log(el.price, i);
//                            price = el.price;
//                        }
//                    });
//                    console.log(product.real_products.prices, price);
                    return product.price;
                }
                if (product.real_products.discount.type == 'percent') {
                    return product.price - (product.price * product.real_products.discount.value) / 100;
                } else {
                    return product.price - product.real_products.discount.value;
                }
            },
            removeProduct(product){
                this.$store.dispatch('removeProduct', product);
            }
        },
        filters: {
            getPrice(item){
                console.log(item);
            },
            rounding(val){
//                return val.toFixed(2);
                return Math.floor(val);
            }
        },
        components: {
            TheMask
        },
        computed: {
            currentPrice(){
                return this.$store.getters.amount;
            },
            currentTotal(){
                return this.$store.getters.product_count;
            },
            currentProducts(){
                return this.$store.getters.products;
            },
            hasDiscount(){
                return this.$store.getters.is_changed;
            }
        }
    }
</script>

<style>
    .checkout-enter-active, .checkout-leave-active {
        transition: opacity .5s
    }

    .checkout-enter, .checkout-leave-to /* .fade-leave-active до версии 2.1.8 */
    {
        opacity: 0
    }
</style>