<template>
    <div>
        <div class="filters-main">
            <span class="h3">Фильтры:</span>
        </div>
        <div class="filters" >
            <div class="filters_item" v-for="(filter,index) in filters">
                <div class="filter__control" :class="{active:index==indexMain}" @click="changeItem(index)">
                    <span>{{filter.title}}</span>
                    <i class="material-icons">keyboard_arrow_down</i>
                </div>
                <transition name="filters" mode="out-in">
                    <div class="filter__list" v-if="index==indexMain">
                        <span v-for="item in filter.values" :class="{active: activeFilters.includes(item.id)}" :title="item.value" @click="toggleFilter(item.id)"><i v-if="item.color" :style="{background: item.color}" class="color"></i>{{item.value}}</span>
                    </div>
                </transition>
            </div>
            <div class="filters_item">
                <div class="filter__control" :class="{active:indexMain==filters.length}" @click="changeItem(filters.length)">
                    <span>Цена</span>
                    <i class="material-icons">keyboard_arrow_down</i>
                </div>
                <transition name="filters" mode="out-in">
                    <div class="filter__list filter__price" v-if="indexMain==filters.length">
                        <!--<span v-for="item in filter.values" :class="{active: activeFilters.includes(item.id)}" @click="toggleFilter(item.id)"><i v-if="item.color" :style="{background: item.color}" class="color"></i>{{item.value}}</span>-->
                        <input type="range" :min="price_filter.available.min" :max="price_filter.available.max" v-model.number="minPrice">
                        <input type="range" :min="price_filter.available.min" :max="price_filter.available.max" v-model.number="maxPrice">
                        <div class="selected_price row">
                            <p class="col-4">от:</p>
                            <input type="number" class="col-8" :min="price_filter.available.min" :max="price_filter.available.max - 1" v-model.number.lazy="minPrice">
                        </div>
                        <div class="selected_price row">
                            <p class="col-4">до:</p>
                            <input type="number" class="col-8" :min="price_filter.available.min + 1" :max="price_filter.available.max" v-model.number.lazy="maxPrice">
                        </div>
                        <button @click="togglePrice">Подтвердить</button>
                    </div>
                </transition>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        props:['filters', 'currentfilters', 'price_filter'],
        data(){
            return{
                indexMain: -1,
                activeFilters: [],
                currentPosition: window.location.pathname,
                minPrice: 10,
                maxPrice: 10000
            }
        },
        watch:{
            maxPrice: function(val){
                if(this.minPrice>=val){
                    this.minPrice--;
                }
            },
            minPrice: function(val){
                if(this.maxPrice<=val){
                    this.maxPrice++;
                }
            }
        },
        methods:{
            togglePrice(){
                let self = this;
                let position = this.currentPosition.split('/');
                let body = {};
                this.indexMain=-1;
                this.$emit('filtered');
                if(position.length == 2){
                    body = {main_category: '', sub_category: ''}
                }else if(position.length == 3){
                    body = {main_category: position[2], sub_category: ''}
                }else if(position.length == 4){
                    body = {main_category: position[2], sub_category: position[3]};
                }else if(position.length == 5){
                    body = {main_category: position[3], sub_category: position[4]}
                }
                body.min = this.minPrice;
                body.max = this.maxPrice;

                axios.post('filters/setfilter', body).then(res=>{
                    self.changeTitle(window.location.pathname);
                    document.querySelector('.pagination__box').innerHTML = res.data.links;
                    this.$store.dispatch('changeProducts', res);
                    self.$emit('endFilter');
//                    self.$emit('changeFilterPrice', body);
                }).catch(err=>{
                    console.log(err);
                })
            },
            changeItem(value){
                this.indexMain = (this.indexMain == value) ? -1 : value;
//                this.indexMain = value;
            },
            toggleFilter(id){
                let position = this.currentPosition.split('/');
                let body = {};
                console.log(id,position);
                this.$emit('filtered');
                if(position.length == 2){
                    body = {filter: id, main_category: '', sub_category: ''}
                }else if(position.length == 3){
                    body = {filter: id, main_category: position[2], sub_category: ''}
                }else if(position.length == 4){
                    body = {filter: id, main_category: position[2], sub_category: position[3]};
                }else if(position.length == 5){
                    body = {filter: id, main_category: position[3], sub_category: position[4]}
                }else if(position.length == 6){
                    body = {filter: id, main_category: position[2], sub_category: position[3]}
                }

                let self =this;
                if(self.activeFilters.includes(id)){
                    let i = self.activeFilters.indexOf(id);
                    self.activeFilters.splice(i,1);
                }else{
                    self.activeFilters.push(id);
                }
                axios.post('filters/setfilter', body).then(res=>{
                    self.changeTitle(window.location.pathname);
                    document.querySelector('.pagination__box').innerHTML = res.data.links;
                    this.$store.dispatch('changeProducts', res);
                    self.$emit('endFilter');
                    self.$emit('toggleImage', id);
                }).catch(err=>{
                    console.log(err);
                    self.$emit('endFilter');
                })
//                if(this.activeFilters.includes(id)){
//                    let i = this.activeFilters.indexOf(id);
//                    this.activeFilters.splice(i,1);
//                }else{
//                    this.activeFilters.push(id);
//                }
//                console.log(this.activeFilters);
//                axios.post('filters/setfilter',{})
            },
            changeTitle(url){
                console.log(url);
                if (typeof (history.pushState) != "undefined") {
                    let obj = { Title: '', Url: url };
                    history.pushState(obj, obj.Title, obj.Url);
                } else {
                    alert("Browser does not support HTML5.");
                }
            }
        },
        created(){
//            this.currentfilters.forEach((el,i)=>{
//                this.activeFilters.push(el.id)
//            });
            if(this.price_filter.selected) {
                this.minPrice = this.price_filter.selected.min;
                this.maxPrice = this.price_filter.selected.max;
            } else {
                this.minPrice = this.price_filter.available.min;
                this.maxPrice = this.price_filter.available.max;
            }

            this.activeFilters = this.currentfilters;
            let self = this;
            window.addEventListener('click', function(e){
                if (!e.target.parentNode.classList.contains('filter__control') && !e.target.parentNode.classList.contains('filters_item') && !e.target.parentNode.classList.contains('filter__list') && !e.target.parentNode.classList.contains('selected_price'))
                {
                    self.changeItem(-1);
                }
            }, false)
        }
    }
</script>

<style>
    .filters-enter-active, .filters-leave-active {
        transition: all .5s ease;
    }
    .filters-enter, .filters-leave-to /* .fading-leave-active до версии 2.1.8 */ {
        opacity: 0;
        transform: translateY(20%);
        /*height: 0;*/
        /*overflow: hidden;*/
    }
    .material-icons {
        font-size: 16px;
        padding-top: 3px;
    }
</style>