<template>
    <div>
        <span v-if="link.slug == 'size'" @click.stop.prevent="showSize = true">{{link.title}}</span>
        <span v-else-if="link.slug == 'howorder'" @click.stop.prevent="showOrder = true">{{link.title}}</span>

        <transition name="order" mode="out-in">
            <modal-size v-if="showSize" @close="showSize = false"></modal-size>
            <modal-order v-if="showOrder"  @close="showOrder = false"></modal-order>
        </transition>
    </div>
</template>

<script>
    export default{
        props:['link'],
        data(){
            return{
                showSize: false,
                showOrder: false
            }
        },
        watch:{
            showSize: function(val){
                this.disableScroll(val);
            },
            showOrder: function(val){
                this.disableScroll(val);
            }
        },
        methods:{
            disableScroll(val){
                document.body.style.overflow = (val)?'hidden':'';
            },
            onRightClick(e){
                e.preventDefault();
                return false;
            }
        }
    }
</script>

<style>
    .order-enter-active, .order-leave-active {
        transition: all .5s ease;
    }
    .order-enter,.articlereview-leave-to /* .fade-leave-active до версии 2.1.8 */ {
        /*transform: translateY(-5%);*/
        opacity: 0;
    }
</style>