<!--<template>-->
    <!--<div class="container header">-->
        <!--<div class="row align-items-center">-->
            <!--<a :href="homeLink" class="col-6 col-sm-4 col-md-4 col-xl-4 header__title">-->
                <!--<div >-->
                    <!--<img src="images/logo1.png" alt="logo">-->
                <!--</div>-->
                <!--<h1>{{title}}</h1>-->
                <!--<span>{{description}}</span>-->
            <!--</a>-->
            <!--<div class="col-12 col-md-12 col-xl-4 header__adds">-->
                <!--<ul class="adds__menu">-->
                    <!--<li v-for="m in menu" v-if="m.page_position=='header'" :m="m"><a :href="m.slug">{{m.title}}</a></li>-->
                <!--</ul>-->
                <!--<search></search>-->
            <!--</div>-->
            <!--<cart></cart>-->
            <!--<transition name="useractive" mode="out-in">-->
                <!--<div class="col-12 col-sm-4 col-md-4 col-xl-2 auth" v-if="currentUserResult">-->
                    <!--<a href="/user" class="comein"><img src="images/user.svg" alt="User">Профиль</a> / <a href="#" @click.stop.prevent="logout" class="register">Выход</a>-->
                <!--</div>-->
                <!--<div class="col-12 col-sm-4 col-md-4 col-xl-2 auth" v-else>-->
                    <!--<a href="#" @click.stop.prevent="showLoginModal = true" class="comein"><img src="images/locked.svg" alt="Locked">{{comein}}</a> / <a href="#" @click.stop.prevent="showRegisterModal = true" class="register">{{register}}</a>-->
                <!--</div>-->
            <!--</transition>-->
            <!--<transition name="fade" mode="out-in">-->
                <!--<modal-login v-if="showLoginModal" @close="showLoginModal = false" @forgot="showForgotPassword = true" @register="showRegisterModal=true"></modal-login>-->
                <!--<modal-register v-if="showRegisterModal" @close="showRegisterModal = false" @login="showLoginModal = true" @showThanks="showThanksModal = true"></modal-register>-->
                <!--<modal-thanks v-if="showThanksModal" @close="showThanksModal = false" :adds="thanksAdd" :info="thanksRegInfo"></modal-thanks>-->
                <!--<modal-forget v-if="showForgotPassword" @close="showForgotPassword=false"></modal-forget>-->
            <!--</transition>-->
        <!--</div>-->

    <!--</div>-->
<!--</template>-->


<script>
//    import Cart from './Cart.vue';
//    import Search from './Search.vue';
    export default {
        props: ['menu', 'user', 'basket'],
        data(){
            return{
                title: 'FORMEN',
                description: "for men's world",
                homeLink: '/',
                comein: 'Вход',
                register: 'Регистрация',
                showLoginModal: false,
                showRegisterModal: false,
                showThanksModal: false,
                showForgotPassword: false,
                thanksRegInfo: 'Спасибо за регистрацию!',
                thanksAdd: 'На вашу электронную почту было отправлне письмо для подтверждения регистрации.'
            }
        },
        watch:{
            showLoginModal:function(val){
                this.fixedWindow(val);
            },
            showRegisterModal:function(val){
                this.fixedWindow(val);
            },
            showThanksModal:function(val){
                this.fixedWindow(val);
            }
        },
        methods:{
            logout(){
                this.$store.dispatch('logout');
//                if(window.location.pathname == '/user'){
//                    window.location.replace('/');
//                }
            },
            fixedWindow(val){
                document.body.style.overflow = (val)?'hidden':'';
            }
        },
        created(){
            this.$store.dispatch('pasteUser', this.user);
            this.$store.dispatch('setProducts', this.basket);
        },
        computed:{
              currentUserResult(){
                  return this.$store.getters.loginStatus;
              }
        }
//        components:{
//            'Cart':Cart,
//            'search':Search
//        }
    }
</script>

<style>
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
        opacity: 0
    }
    .useractive-enter-active, .useractive-leave-active {
        transition: opacity .5s
    }
    .useractive-enter, .useractive-leave-to /* .fade-leave-active до версии 2.1.8 */ {
        opacity: 0;
    }
</style>