<script>
    export default{
        data(){
            return {
                isShow: false
            }
        }
    };
</script>

<style>
    .seo-enter-active, .seo-leave-active {
        transition: opacity .5s;
    }
    .seo-enter, .seo-leave-to /* .fade-leave-active до версии 2.1.8 */ {
        opacity: 0;
    }
</style>