<template>
    <div class="last-articles">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 article__box" v-for="article in articles">
                    <a :href="'blog/'+article.slug" class="article__image">
                        <img :src="article.images[0].img_name" :alt="article.images[0].alt">
                    </a>
                    <div class="article__text">
                        <h4 class="text__title"><a :href="'blog/'+article.slug">{{article.title}}</a></h4>
                        <span class="text__date">{{article.updated_at | moment("DD.MM.YYYY")}}</span>
                        <p class="text__description">
                            {{article.short_text}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        props:['articles']
    }
</script>