<!--<template>-->
    <!--<div class="last-products">-->
        <!--<div class="container">-->
            <!--<div class="row products-wrap">-->
                <!--<carousel :perPage="pages" :autoplay="true" :autoplayTimeout="5000" :loop="true" :paginationEnabled="false">-->
                    <!--<slide v-for="product in allProducts" :key="product.id" :product="product">-->
                        <!--<div class="product__item">-->
                            <!--<a :href="'product/'+product.slug" class="item__image">-->
                                <!--<img :src="product.images[0].img_name" :alt="product.images[0].alt" class="image">-->
                            <!--</a>-->
                            <!--<a :href="'product/'+product.slug" class="text-center">{{product.title}}</a>-->
                            <!--<div class="price_box" v-if="product.discount">-->
                                <!--<span class="price old-price">{{product.prices[0].price}} грн.</span>-->
                                <!--<span class="price" v-if="product.discount.-->
                                <!--type == 'percent'">{{product.prices[0].price-(product.prices[0].price*product.discount.value)/100 | rounding}} грн.</span>-->
                                <!--<span class="price" v-else>{{product.prices[0].price-product.discount.value | rounding}} грн.</span>-->
                                <!--<span class="price percent" v-if="product.discount.type == 'percent'">{{product.discount.value}}%</span>-->
                                <!--<span class="price percent" v-else>{{product.discount.value}} грн.</span>-->
                            <!--</div>-->
                            <!--<div class="price_box text-center align-self-center" v-else-if="product.yellow_price">-->
                                <!--<span class="price text-center">{{product.prices[0].price}} грн.</span>-->
                                <!--<span class="yellow_price">Суперцена</span>-->
                            <!--</div>-->
                            <!--<div class="price_box text-center align-self-center" v-else>-->
                                <!--<span class="price text-center">{{product.prices[0].price}} грн.</span>-->
                            <!--</div>-->
                            <!--<div v-if="getUser" class="item__favorite center-xs justify-content-center" @click="toFavorite(product.id)" :class="{active: product.favorite}">-->
                                <!--<img src="images/like.svg" alt="">-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</slide>-->
                <!--</carousel>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</template>-->


<script>
    import { Carousel, Slide } from 'vue-carousel';
    export default{
        props: ['productsall'],
        data(){
            return {
                products: this.productsall,
                pages: 5
            }
        },
        watch: {
            '$mq.resize': 'screenResize'
        },
        filters:{
            rounding(val){
                return Math.round(val);
            }
        },
        methods:{
            lazyLoadProductImages()
            {
                document.querySelectorAll('img').forEach(function(el, i) { if(el.attributes && el.attributes['data-src']) { el.setAttribute('src', el.attributes['data-src'].value); } });
            },
            screenResize() {
                if (this.$mq.below(600)) {
                    this.pages = 1;
                }else if(this.$mq.below(900) && this.$mq.above(600)){
                    this.pages = 3;
                }else{
                    this.pages = 5;
                }
            },
            toFavorite(el){
                let index = 0;
                this.products.forEach((item,i)=>{
                   if(item.id == el){
                       return index = i;
                   }
                });
                let self = this;
                if(this.products[index].favorite){
//                    this.products[index].favorite = false;
                    axios.post('product/unfavorite', {id: el}).then(res=> {
                        self.products[index].favorite = false;
                    })
                }else{
//                    this.products[index].favorite = true;
                    axios.post('product/favorite', {id: el}).then(res=> {
//                        console.log(res);
                        self.products[index].favorite = true;
                    })
                }
            }
        },
        created(){
            this.screenResize();
        },
        computed:{
            allProducts(){
                return this.products;
            },
            getUser(){
                return this.$store.getters.loginStatus;
            }
        },
        components:{
            Carousel,
            Slide
        }
    }
</script>
