<template>
    <div class="modal">
        <div class="modal__box">
            <div class="modal-context">
                <h4 class="h4 text-center">{{title}}</h4>
                <div class="formas">
                    <form class="product buy_block" @submit.prevent="toCart">
                        <div class="image" v-if="product && product.images.length">
                            <img :src="currentImage" :alt="product.images[0].alt">
                        </div>
                        <div class="row char_select selectable" v-for="(attr,index) in attributes">
                            <select :data-id="index" required @change="toggleAttribute">
                                <option value="" selected disabled>{{attr.title}}</option>
                                <option v-for="item in attr.values" :value="item.id">{{item.value}}</option>
                            </select>
                        </div>
                        <!--<span class="price text-center">{{currentPrice}} грн.</span>-->
                        <div class="info_price_box" v-if="product && product.discount">
                            <span class="info_price old_price">{{currentPrice}} грн.</span>
                            <span class="info_price" v-if="product.discount.type == 'percent'">{{currentPrice-(currentPrice*product.discount.value)/100 | rounding}} грн.</span>
                            <span class="info_price" v-else>{{currentPrice-product.discount.value | rounding}} грн.</span>
                            <span class="info_price percent" v-if="product.discount.type == 'percent'">{{product.discount.value}}%</span>
                            <span class="info_price percent" v-else>{{product.discount.value}} грн.</span>
                        </div>
                        <div class="info_price_box text-center  align-self-center" v-else-if="product && product.yellow_price">
                            <span class="info_price">{{currentPrice}} грн.</span>
                            <span class="yellow_price">Суперцена</span>
                        </div>
                        <div class="info_price_box text-center  align-self-center" v-else>
                            <span class="info_price">{{currentPrice}} грн.</span>
                        </div>
                        <div v-if="canShowInfo">
                            <span class="text-center" v-if="currentQuantity">Доступно на складе {{currentQuantity}} шт.</span>
                            <span class="requirement text-center" v-else>Товара нет в наличии.</span>
                        </div>
                        <button :disabled="!currentQuantity" :class="{disabled:!currentQuantity}">В корзину</button>
                    </form>
                </div>
            </div>
            <i class="material-icons" @click="closeModal">close</i>
        </div>
    </div>
</template>

<script>
    export default{
        props: ['product_id'],
        data(){
            return{
                isError: false,
                product: null,
                attributes: null,
                selectedAttributes: [],
                currentPrice: 0,
                currentId: 0,
                title: '',
                currentQuantity: 0,
                prices: [],
                canShowInfo: false,
                currentImage: null
            }
        },
        watch:{
            selectedAttributes: function(val){
                console.log(val);
                this.toggleImage(val);
            }
        },
        created(){
            let self = this;
            axios.get(`product/single/${this.product_id}`).then(res=>{
//                console.log(res.data);
                self.product = res.data.product;
                self.attributes = res.data.attributes;
                self.currentPrice = this.product.price;
                self.currentQuantity = parseInt(this.product.prices[0].quantity);
                self.title = this.product.title;
                if(this.product.images.length){
                    self.currentImage = this.product.images[0].img_name;
                }
                if(self.attributes.length == 2){
                    self.attributes[0].values.forEach((el,i)=>{
                        self.attributes[1].values.forEach((item)=>{
                            self.prices.push({
                                attribute_ids: [el.id, item.id],
                                price: 0,
                                product_attribute_id:0,
                                quantity:0,
                                yellow_price: 0
                            })
                        });
                    });
                }else{
                    self.attributes[0].values.forEach((item)=>{
                        self.prices.push({
                            attribute_ids: [item.id],
                            price: 0,
                            product_attribute_id:0,
                            quantity:0,
                            yellow_price: 0
                        })
                    });
                }
                self.prices.forEach((item, index)=>{
                    self.product.prices.forEach((el, i)=>{
                        let diff = _.difference(el.attribute_ids,item.attribute_ids);
                        if(!diff.length){
                            self.prices.splice(index,1,el);
                        }
                    });
                });
            }).catch(err=>{console.log(err)});
        },
        destroyed(){
            this.product = null;
            this.attributes = null;
        },
        mounted(){
            let self = this;
            window.addEventListener('click', function(e){
                if (e.target.classList.contains('modal'))
                {
                    self.$emit('close');
                }
            }, false)
        },
        filters:{
            rounding(val){
//                return val.toFixed(2);
//                return Math.floor(val);
                return Math.round(val);
            }
        },
        methods:{
            toggleAttribute(event){
//                console.log(event);
                this.selectedAttributes[parseInt(event.target.dataset.id)]=parseInt(event.target.value);
//                this.selectedAttributes[parseInt(event.target.dataset.id)]=event.target.value;

                this.toggleImage(parseInt(event.target.value));
                let index = -1;
                let self = this;
                this.prices.forEach((el, i)=>{
                    let diff = _.difference(el.attribute_ids,this.selectedAttributes);
                    if(!diff.length){
                        self.currentPrice = el.price;
                        self.currentQuantity = parseInt(el.quantity);
                        self.currentId = el.product_attribute_id;
                    }
                });
                if(!this.currentId && this.product.prices.length) {
                    self.currentId = this.product.prices[0].product_attribute_id;
                }
                if(this.selectedAttributes.length == this.attributes.length){
                    this.canShowInfo = true;
                }else{
                    this.canShowInfo = false;
                }
            },
            toggleImage(val){
                let index = 0;
                console.log(val);
                for(let i = 0; i < this.product.images.length; i++){
                    if(this.product.images[i].attribute_value_id == val){
                        index = i;
                        break;
                    }
                }
                if(this.product.images.length){
                    this.currentImage = this.product.images[index].img_name;
                }
//                for(let i = 0; i<this.product.images.length; i++){
//                    for(let j=0;j<val.length;j++){
//                        if(this.product.images[i].attribute_value_id == val[j] && !isNaN(val[j])){
//                            if(!index){
//                                index = i;
//                            }
//                        }
//                    }
//                }
            },
            toCart(){
                let self = this;
                let itemSingle = {product_attribute:{[self.product.id] : self.currentId}, quantity: 1};
                console.log(itemSingle);
                this.$store.dispatch('addProduct', itemSingle);
                this.$emit('buy');
            },
            closeModal(){
                this.$emit('close');
            }
        },
        computed: {
            showInfo(){
                return this.selectedAttributes.length == this.attributes.length?true:false;
            }
        }
    }
</script>