<template>
    <div class="modal">
        <div class="modal__box size order">
            <h4 class="h4 text-center">Заказ</h4>
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Ваш заказ</th>
                        <th>Количество</th>
                        <th>Стоимость</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table_item" v-for="(product,index) in products.products">
                        <th scope="row">{{index+1}}</th>
                        <td>
                            <div class="product_box">
                                <a :href="product.product_attribute.product.slug" class="img_box">
                                    <img :src="product.product_attribute.product.images[0].img_name" alt="">
                                </a>
                                <div class="text_box">
                                    <a :href="product.product_attribute.product.slug">{{product.product_attribute.product.title}}</a>
                                    <span class="color" v-if="product.color">Цвет: {{product.color}}</span>
                                    <span v-if="product.size">Размер: {{product.size}}</span>
                                </div>
                            </div>
                        </td>
                        <td class="text-center">{{product.quantity}}</td>
                        <td class="text-center">{{product.price}} грн.</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="text-right"><strong>Итого:</strong></td>
                        <td>{{products.amount}} грн.</td>
                    </tr>
                </tbody>
            </table>
            <i class="material-icons" @click="closeModal">close</i>
        </div>
    </div>
</template>

<script>
    export default{
        props: ['orderId'],
        data(){
            return{
                sizeType: 0,
                products: []
            }
        },
        created(){
            let self = this;
            axios.get(`order/single-order/${this.orderId}`).then(res=>{
                console.log(res);
                self.products = res.data.products;
            }).catch(err=>console.log(err));
        },
        destroyed(){
            this.product = null;
        },
        mounted(){
            let self = this;
            window.addEventListener('click', function(e){
                if (e.target.classList.contains('modal'))
                {
                    self.$emit('close');
                }
            }, false)
        },
        methods:{
            closeModal(){
                this.$emit('close');
            }
        }
    }
</script>

<style>
    .size-enter-active, .size-leave-active {
        transition: all .5s
    }
    .size-enter {
        opacity: 0;
        transform: translateX(20%);
    }
    .size-leave-to{
        opacity:0;
        transform: translateX(-20%);
    }
</style>