<template>
    <div class="modal">
        <div class="modal__box">
            <h4 class="h4 text-center">Восстановление <br> пароля</h4>
            <p v-if="message" class="requirement">
                {{message}}
            </p>
            <form class="modal__form" @submit.prevent="onSubmit">
                <input type="email" required v-model="currEmail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Ваш E-mail">
                <button type="submit">Восстановить</button>
            </form>
            <i class="material-icons" @click="closeModal">close</i>
        </div>
    </div>
</template>

<script>
    export default{
        data(){
            return{
                currEmail: '',
                message: ''
            }
        },
        methods:{
            onSubmit(){
                let self = this;
                axios.post('password/email',{email:this.currEmail}).then(res=>{
                    self.message = res.data
                }).catch(err=>{
                    self.message = 'Данный e-mail не найден.'
                });
            },
            closeModal(){
                this.$emit('close')
            }
        },
        mounted(){
            let self = this;
            window.addEventListener('click', function(e){
                if (e.target.classList.contains('modal'))
                {
                    self.$emit('close');
                }
            }, false)
        }
    }
</script>