<template>
    <div class="modal">
        <div class="modal__box size">
            <div class="modal_content">
            <h4 class="h4 text-center">Таблица размеров</h4>
            <div class="modal_head">
                <span class="link" :class="{active: sizeType}" @click="sizeType = 0">Одежда</span>
                <span class="link" :class="{active: !sizeType}" @click="sizeType = 1">Обувь</span>
            </div>
            <transition name="size" mode="out-in">
            <div key="save" v-if="!sizeType">
                <h4 class="text-center">Как выбрать одежду своего размера?</h4>
                <ul class="list-group">
                    <li class="list-group-item">Вам понадобится провести измерения с помощью сантиметровой ленты. Для определения подходящего размера необходимо соотнести полученные измерения с размерами в таблице.</li>
                    <li class="list-group-item">При измерении обхвата груди лента должна плотно прилегать к телу, спереди проходить по наиболее выступающим точкам, сбоку через подмышечные впадины, сзади обхватывая лопатки.</li>
                    <li class="list-group-item">Обхват талии измеряется строго горизонтально по самой узкой части тела, проходя через самую выступающую точку живота.</li>
                    <li class="list-group-item">При измерении обхвата бедер лента должна находиться горизонтально, проходя посредине бедра и сзади по наиболее выступающим точкам ягодиц.</li>
                </ul>
                <h5>Размерная сетка</h5>
                <h6>Верх</h6>
                <table class="table table-responsive">
                    <thead>
                    <tr>
                        <th>Международный размер</th>
                        <th>XS</th>
                        <th>S</th>
                        <th>M</th>
                        <th>L</th>
                        <th>XL</th>
                        <th>XXL</th>
                        <th>XXXL</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Европейский размер</th>
                        <td>34</td>
                        <td>36</td>
                        <td>38</td>
                        <td>40</td>
                        <td>42</td>
                        <td>44</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <th scope="row">Украинский размер</th>
                        <td>42-44</td>
                        <td>44-46</td>
                        <td>46-48</td>
                        <td>48-50</td>
                        <td>50-52</td>
                        <td>52-54</td>
                        <td>54-56</td>
                    </tr>
                    <tr>
                        <th scope="row">Ширина плеча(см.)</th>
                        <td>39-14</td>
                        <td>40-42</td>
                        <td>41-43</td>
                        <td>42-44</td>
                        <td>43-45</td>
                        <td>44-47</td>
                        <td>45-47</td>
                    </tr>
                    <tr>
                        <th scope="row">Обхват груди(см.)</th>
                        <td>86-90</td>
                        <td>90-94</td>
                        <td>94-98</td>
                        <td>98-102</td>
                        <td>102-106</td>
                        <td>106-110</td>
                        <td>110-114</td>
                    </tr>
                    <tr>
                        <th scope="row">Обхват талии(см.)</th>
                        <td>74-78</td>
                        <td>78-82</td>
                        <td>82-86</td>
                        <td>86-90</td>
                        <td>92-94</td>
                        <td>96-100</td>
                        <td>100-110</td>
                    </tr>
                    </tbody>
                </table>
                <h6>Низ</h6>
                <table class="table table-responsive">
                    <thead>
                    <tr>
                        <th>Международный размер</th>
                        <th>XS</th>
                        <th>S</th>
                        <th>M</th>
                        <th>L</th>
                        <th>XL</th>
                        <th>XXL</th>
                        <th>XXXL</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Европейский размер</th>
                        <td>28</td>
                        <td>29-30</td>
                        <td>31-32</td>
                        <td>33-34</td>
                        <td>36</td>
                        <td>40</td>
                        <td>42</td>
                    </tr>
                    <tr>
                        <th scope="row">Украинский размер</th>
                        <td>42</td>
                        <td>42-44</td>
                        <td>44-46</td>
                        <td>48-50</td>
                        <td>50-52</td>
                        <td>54-56</td>
                        <td>58</td>
                    </tr>
                    <tr>
                        <th scope="row">Обхват талии(см.)</th>
                        <td>74-78</td>
                        <td>78-82</td>
                        <td>82-86</td>
                        <td>86-90</td>
                        <td>92-94</td>
                        <td>96-100</td>
                        <td>100-110</td>
                    </tr>
                    <tr>
                        <th scope="row">Обхват бедер(см.)</th>
                        <td>88-92</td>
                        <td>92-96</td>
                        <td>96-100</td>
                        <td>100-104</td>
                        <td>104-108</td>
                        <td>108-112</td>
                        <td>112-116</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div key="edit" v-else>
                    <h4 class="text-center">Как выбрать обувь своего размера?</h4>
                    <ul class="list-group">
                        <li class="list-group-item">Вам понадобится провести измерения с помощью сантиметровой ленты. Для определения подходящего размера необходимо соотнести полученные измерения с размерами в таблице.</li>
                        <li class="list-group-item">Поставьте ногу на чистый лист бумаги. Отметьте крайние границы ступни и измерьте расстояние между самыми удаленными точками стопы.</li>
                    </ul>
                    <h5>Размерная сетка</h5>
                    <h6>Обувь</h6>
                    <table class="table table-responsive">
                        <thead>
                        <tr>
                            <th>Размер</th>
                            <th>40</th>
                            <th>41</th>
                            <th>42</th>
                            <th>43</th>
                            <th>44</th>
                            <th>45</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Длина стопы (мм.)</th>
                            <td>265</td>
                            <td>270</td>
                            <td>280</td>
                            <td>285</td>
                            <td>290</td>
                            <td>295</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </transition>
                <i class="material-icons" @click="closeModal">close</i>

            </div>
        </div>
    </div>
</template>

<script>
    export default{
        data(){
            return{
                sizeType: 0
            }
        },
        mounted(){
            let self = this;
            window.addEventListener('click', function(e){
                if (e.target.classList.contains('modal'))
                {
                    self.$emit('close');
                }
            }, false)
        },
        methods:{
            closeModal(){
                this.$emit('close');
            }
        }
    }
</script>

<style>
    .size-enter-active, .size-leave-active {
        transition: all .5s
    }
    .size-enter {
        opacity: 0;
        transform: translateX(20%);
    }
    .size-leave-to{
        opacity:0;
        transform: translateX(-20%);
    }
</style>