<template>
    <div class="modal">
        <div class="modal__box">
            <h4 class="h4 text-center">Оставить сообщение</h4>
            <form class="modal__form" @submit.prevent="onSubmit">
                <input type="text" required v-model="name" placeholder="Ваше имя">
                <input type="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" v-model="email" placeholder="Ваш email">
                <textarea v-model.trim="message"  required cols="30" row="6" placeholder="Ваше сообщение"></textarea>
                <p v-if="message.length < 10">
                    Минимальное кол-во символов - 10!
                </p>
                <button type="submit" :disabled="!message.length" :class="{disable:!message.length}">Отправить</button>
            </form>
            <i class="material-icons" @click="closeModal">close</i>
        </div>
    </div>
</template>

<script>
    export default{
        props: ['articleId'],
        data(){
            return{
                message: '',
                isError: false,
                email: '',
                name: ''
            }
        },
        mounted(){
            let self = this;
            window.addEventListener('click', function(e){
                if (e.target.classList.contains('modal'))
                {
                    self.$emit('close');
                }
            }, false)
        },
        methods:{
            onSubmit(){
                let self = this
//                axios.post('articles/comment', {article_id: this.articleId, text: this.message}).then(res=>{
                axios.post('/contacts', {email: this.email, name: this.name, text: this.message}).then(res=>{
                    console.log(res);
                    self.closeModal();
                    self.$emit('showThanks');
                }).catch(err=>{
                    console.log(err);
                    self.isError = true;
                });
            },
            closeModal(){
                this.$emit('close');
            }
        }
    }
</script>