<template>
    <div class="modal">
        <div class="modal__box reg">
            <div class="modal-context">
                <h4 class="h4 text-center">Регистрация</h4>
                <form class="modal__form" @submit.prevent="onSubmit">
                    <transition name="forma" mode="out-in">
                        <div class="modal_block" v-if="!setName" key="firstName">
                            <input type="text" required minlenght="4" v-model="currName" placeholder="Вашe имя">
                            <input type="text" required minlenght="4" v-model="currLastname" placeholder="Ваша фамилия">
                            <div class="check-subscribe">
                                <input type="checkbox" v-model="dispatch" value="true" id="radio"><label for="radio" class="label"><span></span></label>
                                <span class="subscribe__text" @click="dispatch = !dispatch">Подписаться на обновления<br> об акциях и скидках</span>
                            </div>
                            <button type="submit">Дальше</button>
                            <div class="modal__social">
                                <a href="login/facebook" class="social__link">
                                    <img src="images/social/facebook.svg" alt="">
                                </a>
                                <a href="login/google" class="social__link">
                                    <img src="images/social/google-plus.svg" alt="">
                                </a>
                                <a href="login/twitter" class="social__link">
                                    <img src="images/social/twitter.svg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="modal_block" v-else key="email">
                            <div class="requestment text-danger" v-if="isError">
                                Данный пользователь уже зарегистрирован!
                            </div>
                            <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required v-model="currEmail" placeholder="Ваш E-mail">
                            <input type="password" required v-model="currPassword" placeholder="Пароль">
                            <input type="password" required v-model="repeatPassword" placeholder="Потверждение пароля">
                            <div class="register-captcha">
                                <vue-recaptcha @verify="OnVerify" :sitekey="captchKey">
                                </vue-recaptcha>
                            </div>
                            <div class="alert alert-danger" role="alert" v-if="!!captchaMessage">
                                {{captchaMessage}}
                            </div>
                            <button type="submit">ЗАРЕГИСТРИРОВАТЬСЯ</button>
                        </div>
                    </transition>
                </form>
                <p class="p text-center">Уже зарегистрированы? <a href="#" @click.stop.prevent="goLogin">Войти</a></p>
            </div>
            <i class="material-icons" @click="closeModal">close</i>
        </div>
    </div>
</template>

<script>
    import VueRecaptcha from 'vue-recaptcha';
    export default{
        data(){
            return{
                currEmail: '',
                currPassword: '',
                repeatPassword: '',
                currName: '',
                currLastname: '',
                dispatch: false,
                isError: false,
                showLoginModal: false,
                showThanksModal: false,
                captchKey: '6LdlLjQUAAAAAFKoOC3MyL-JDZsX8wiJzCy37Uuo',
                isCaptched: false,
                setName: false,
                captchaMessage: ''
            }
        },
        methods:{
            closeModal(){
                this.$emit('close');
            },
            goLogin(){
                this.closeModal();
                this.$emit('login');
            },
            onSubmit(){
                if(!this.setName){
                    this.setName = !this.setName;
                    return;
                }
                if(!this.isCaptched){
                    return this.captchaMessage = 'Пройдите капчу'
                }
                let obj = this;
                this.$store.dispatch('register', {name: this.currName,lastname: this.currLastname,email: this.currEmail, password: this.currPassword, dispatch: this.dispatch}).then(data=>{
                    console.log(data);
                    obj.$emit('show-thanks');
//                    obj.closeModal();
                }).catch(err=>{this.isError=true});
            },
            OnVerify(){
                this.isCaptched = true;
            }
        },
        mounted(){
            let self = this;
            window.addEventListener('click', function(e){
                if (e.target.classList.contains('modal'))
                {
                    self.$emit('close');
                }
            }, false)
        },
        computed:{
            isComing(){
                return (this.currEmail.trim().length > 1 && this.currPassword.length>5 && this.currPassword==this.repeatPassword && this.isCaptched)?false:true;
            }
        },
        components: { VueRecaptcha }
    }
</script>

<style>
    .forma-enter-active, .forma-leave-active {
        transition: all .5s ease;
    }
    .forma-enter {
        opacity: 0;
        transform: translateX(2%);
    }
    .forma-leave-to{
        opacity:0;
        transform: translateX(-2%);
    }
</style>