<template>
    <div class="modal">
        <div class="modal__box">
            <div class="modal-context">
                <h4 class="h4 text-center">Оставить отзыв</h4>
                <div class="requirement" v-if="isError">
                    Что-то пошло не так...
                </div>
                <form class="modal__form" @submit.prevent="onSubmit">
                    <textarea v-model.trim="message" cols="30" row="4" placeholder="Ваш отзыв" rows="7"></textarea>
                    <button type="submit" :disabled="!message.length" :class="{disable:!message.length}">Отправить</button>
                </form>
            </div>
            <i class="material-icons" @click="closeModal">close</i>
        </div>
    </div>
</template>

<script>
    export default{
        props: ['articleId'],
        data(){
            return{
                message: '',
                isError: false
            }
        },
        mounted(){
            let self = this;
            window.addEventListener('click', function(e){
                if (e.target.classList.contains('modal'))
                {
                    self.$emit('close');
                }
            }, false)
        },
        methods:{
            onSubmit(){
                let self = this
                axios.post('blog/comment', {article_id: this.articleId, text: this.message}).then(res=>{
                    console.log(res);
                    self.closeModal();
                    self.$emit('showThanks');
                }).catch(err=>{
                    console.log(err);
                    self.isError = true;
                });
            },
            closeModal(){
                this.$emit('close');
            }
        }
    }
</script>