<template>
    <div class="modal">
        <div class="modal__box">
            <div class="modal-context">
                <h4 class="h4 text-center">Пароль</h4>
                <form class="modal__form" @submit.prevent="onSubmit">
                    <input type="password" v-model="currPassword" placeholder="Ваш текущий пароль">
                    <input type="password" v-model="newPassword" placeholder="Новый пароль">
                    <input type="password" v-model="repeatPassword" placeholder="Повторите новый пароль">
                    <button type="submit" :disabled="isComing" :class="{disable:isComing}">Подтвердить</button>
                </form>
            </div>
            <i class="material-icons" @click="closeModal">close</i>
        </div>
    </div>
</template>

<script>
    export default{
        data(){
            return{
                currPassword: '',
                newPassword: '',
                repeatPassword: ''
            }
        },
        methods:{
            closeModal(){
                this.$emit('close');
            },
            onSubmit(){
                let self = this;
                axios.post('user/password', {password: this.newPassword, old_password: this.currPassword}).then(res=>{
                    self.$store.dispatch('pasteUser', res.data);
                    this.$emit('changed');
                }).catch(err=>console.log(err));
            }
        },
        mounted(){
            let self = this;
            window.addEventListener('click', function(e){
                if (e.target.classList.contains('modal'))
                {
                    self.$emit('close');
                }
            }, false)
        },
        computed:{
            isComing(){
                return (this.currPassword.length>5 && (this.newPassword==this.repeatPassword) && this.newPassword.trim().length>5)?false:true;
            }
        }
    }
</script>