<template>
    <div class="modal">
        <div class="modal__box">
            <h4 class="h4 text-center">{{info}}</h4>
            <p class="text-center">{{adds}}</p>
            <i class="material-icons" @click="closeModal">close</i>
        </div>
    </div>
</template>

<script>
    export default{
        props: ['info','adds'],
        mounted(){
            let self = this;
            window.addEventListener('click', function(e){
                if (e.target.classList.contains('modal'))
                {
                    self.$emit('close');
                }
            }, false)
        },
        methods:{
            closeModal(){
                this.$emit('close');
            }
        }
    }
</script>