<template>
    <div class="modal">
        <div class="modal__box">
            <h4 class="h4 text-center">Подписаться <br> на обновления</h4>
            <form class="modal__form" @submit.prevent="onSubmit">
                <input type="email" v-model="email" placeholder="Ваш e-mail">
                <input type="text" v-mask="'+38(999)999-9999'" v-model="phone" placeholder="Ваш телефон">
                <button type="submit" :disabled="isValid" :class="{disable: isValid}">Подписаться</button>
            </form>
            <i class="material-icons" @click="closeModal">close</i>
        </div>
    </div>
</template>

<script>
    export default{
        data(){
            return{
                isError: false,
                email: '',
                phone: ''
            }
        },
        mounted(){
            let self = this;
            window.addEventListener('click', function(e){
                if (e.target.classList.contains('modal'))
                {
                    self.$emit('close');
                }
            }, false)
        },
        methods:{
            onSubmit(){
                let self = this
                axios.post('subscr', {email: this.email, phone: this.phone}).then(res=>{
                    console.log(res);
                    this.email = '';
                    this.phone = '';
                    self.closeModal();
                    self.$emit('showThanks');
                }).catch(err=>{
                    alert(err);
                });
            },
            closeModal(){
                this.$emit('close');
            }
        },
        computed:{
            isValid(){
                return (this.email.trim().length>=6 || this.phone.trim().length>=6)?false:true;
            }
        }
    }
</script>


