<template>
    <div class="modal">
        <div class="modal__box">
            <h4 class="h4 text-center">Вход</h4>
            <transition name="requirement" mode="out-in">
                <div class="requirement" v-if="isError">
                    Логин или пароль введены не верно!
                </div>
                <!--<div class="requirement" v-if="errors.has('email')">-->
                    <!--Неправильный E-mail!-->
                <!--</div>-->
            </transition>
            <form class="modal__form" @submit.prevent="onSubmit">
                <!--<input type="email" name="email" v-validate="'required|email'" :class="{'input': true, 'is-danger': errors.has('email') }" v-model="currEmail" placeholder="Ваш E-mail">-->
                <input type="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" v-model="currEmail" placeholder="Ваш E-mail">
                <input type="password" v-model="currPassword" placeholder="Пароль">
                <button type="submit" :disabled="isComing" :class="{disable:isComing}">Войти</button>
            </form>
            <div class="modal__social">
                <a href="login/facebook" class="social__link">
                    <img src="images/social/facebook.svg" alt="">
                </a>
                <a href="login/google" class="social__link">
                    <img src="images/social/google-plus.svg" alt="">
                </a>
                <a href="login/twitter" class="social__link">
                    <img src="images/social/twitter.svg" alt="">
                </a>
            </div>
            <p class="p text-center">Новый клиент? <a href="#" @click.stop.prevent="goRegister">Зарегистрироваться</a></p>
            <p class="p text-center">Забыли пароль? <a href="#" @click.stop.prevent="goResteblich">Восстановить</a></p>
            <i class="material-icons" @click="closeModal">close</i>
        </div>
    </div>
</template>

<script>
    export default{
        data(){
            return {
                currEmail: '',
                currPassword: '',
                isError: false
            }
        },
        watch:{
            currEmail: function(value){
                this.isError = false;
            },
            currPassword: function(value){
                this.isError = false;
            }
        },
        mounted(){
            let self = this;
            window.addEventListener('click', function(e){
                if (e.target.classList.contains('modal'))
                {
                    self.$emit('close');
                }
            }, false)
        },
        methods:{
            closeModal(){
                this.$emit('close');
            },
            goRegister(){
                this.closeModal();
                this.$emit('register');
            },
            goResteblich(){
                this.closeModal();
                this.$emit('forgot');
            },

            onSubmit(){
//                console.log(this.currEmail, this.currPassword);
                let obj = this;
                this.$store.dispatch('login', {name: 'Dima',email: this.currEmail, password: this.currPassword, dispatch: this.dispatch}).then(data=>{
                    obj.closeModal();
                }).catch(err=>{console.log('Error:',err);obj.isError = true;});
            }
        },
        computed:{
            isComing(){
                return (this.currEmail.trim().length>1 && this.currPassword.length >5)?false:true;
            }
        }
    }
</script>

<style>
    .requirement-enter-active, .requirement-leave-active {
        transition: opacity .5s
    }
    .requirement-enter, .requirement-leave-to /* .fade-leave-active до версии 2.1.8 */ {
        opacity: 0;
    }
</style>