<template>
    <div class="modal help order-modal">
        <div class="modal__box contacts">
            <div class="modal-context">
            <h4 class="h4 text-center">Как оформить заказ</h4>
            <p class="timing">
                <span>Сделать заказ на For-men.ua просто. Вам лишь нужно:</span>
            <ol>
                <li>Перейти в интересующий Вас раздел; </li>
                <li>  Выбрать товар;</li>
                <li>  Выбрать цвет и размер;</li>
                <li>  Нажать кнопку добавить в корзину;</li>
                <li>   На экране появится всплывающее окно, в котором будет возможность либо вернуться к покупкам, нажав кнопку «Продолжить покупки», либо перейти к оформлению заказа, нажав кнопку «Оформить заказ» внизу. Выберите необходимое действие;</li>
                <li>  Чтобы удалить из Корзины ненужные позиции, наведите курсор на эту позицию, справа появится кнопка «Удалить»;</li>
                <li> 	На странице оформления нужно внести все контактные данные*;</li>
                <li> 	Чтобы применить промо-код или Ваш дисконт укажите код в соответствующем поле;</li>
                <li> 	Выбирите вариант оплаты заказа: при получении или онлайн-оплата картой;</li>
                <li>  	Нажмите кнопку «Отправить заказ»;</li>
                <li> 	После нажатия кнопки «Отправить заказ» появится сообщение об успешно завершенной процедуре оформления заказа;</li>
                <li>После этого с вами свяжется наш менеджер для уточнения деталей заказа.</li></ol>
            </li>
            </ol>
            <span>Если же все таки Вам не удалось оформить заказ, то свяжитесь с нами по номеру:
<a href="tel:+380669919969" class="help"><span>+380669919969</span><img src="images/contacts/telegram.svg" alt="Telegram">
                            <img src="images/contacts/viber.svg" alt="Viber">
                            <img src="images/contacts/whatsapp.svg" alt="Whatsup"></a> и мы оформим ваш заказ в реальном времени.
</span>
            </p>
                </div>
            <i class="material-icons" @click="closeModal">close</i>
        </div>
    </div>
</template>

<script>
    export default{
        mounted(){
            let self = this;
            window.addEventListener('click', function(e){
                if (e.target.classList.contains('modal'))
                {
                    self.$emit('close');
                }
            }, false)
        },
        methods:{
            closeModal(){
                this.$emit('close');
            }
        }
    }
</script>