<!--<template>-->
    <!--<div class="navbars">-->
        <!--<div class="container">-->
            <!--<div class="row navbar_box">-->
                <!--<div class="navbar desktop" v-for="m in menu" v-if="m.page_position=='navbar'">-->
                    <!--<a class="categ" :class="{active: m.slug == currentRoute}" :href="m.slug"><img src="images/burn.png" alt="">{{m.title}}</a>-->
                    <!--<div class="submenu">-->
                        <!--<span v-for="item in m.submenu">-->
                            <!--<a :href="m.slug+'/'+item.slug">{{item.title}}</a>-->
                            <!--<i class="material-icons arrow_right" v-if="item.submenu.length">arrow_right</i>-->
                            <!--<ul v-if="item.submenu.length" class="submenu">-->
                                <!--<li v-for="sub in item.submenu"><a :href="m.slug+'/'+item.slug+'/'+sub.slug">{{sub.title}}</a></li>-->
                            <!--</ul>-->
                        <!--</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<transition name="navbar" mode="out-in">-->

            <!--<div class="row navbar_box" :class="{active:mobileActive}">-->
                <!--<div class="navbar mobile" v-for="(m, i) in menu" v-if="m.page_position=='navbar'">-->
                    <!--<div class="mobile_item">-->
                        <!--<a class="categ" :class="{active: m.slug == currentRoute}" :href="m.slug"><img src="images/burn.png" alt="">{{m.title}}</a>-->
                        <!--<i class="material-icons" @click="toSlide(i)" v-if="m.submenu.length">keyboard_arrow_down</i>-->
                    <!--</div>-->
                        <!--<div class="submenu" v-if="m.submenu.length && index == i">-->
                            <!--<span class="span" v-for="(item,ind) in m.submenu" >-->
                                <!--<a :href="m.slug+'/'+item.slug">{{item.title}}</a>-->
                                <!--<i class="material-icons" @click="toSubSlide(ind)" v-if="item.submenu.length">keyboard_arrow_down</i>-->
                                <!--<transition name="navbar">-->
                                    <!--<ul v-if="item.submenu.length && submenuIndex==ind" class="submenu">-->
                                        <!--<li v-for="sub in item.submenu"><a :href="m.slug+'/'+item.slug+'/'+sub.slug">{{sub.title}}</a></li>-->
                                    <!--</ul>-->
                                <!--</transition>-->
                            <!--</span>-->
                        <!--</div>-->

                <!--</div>-->
            <!--</div>-->
            <!--</transition>-->
        <!--</div>-->
        <!--<button class="hamburger" @click="mobileActive = true">-->
            <!--<i class="material-icons">menu</i>-->
        <!--</button>-->
        <!--&lt;!&ndash;<h2 class="logo">For Men</h2>&ndash;&gt;-->
    <!--</div>-->
<!--</template>-->

<script>
    export default{
        props: ['menu'],
        data(){
            return{
                currentRoute: window.location.pathname,
                index: -1,
                mobileActive: false,
                submenuIndex: -1
            }
        },
        watch:{
            mobileActive:function(val){
                document.body.style.overflow = (val)?'hidden':'';
            }
        },
        mounted(){
            let self = this;
            window.addEventListener('click', function(e){
//                console.dir(e.target.parentNode);
                if (!e.target.parentNode.classList.contains('mobile_item') && !e.target.parentNode.classList.contains('navbar') && !e.target.parentNode.classList.contains('navbar_box') && !e.target.parentNode.classList.contains('submenu')&& !e.target.parentNode.classList.contains('navbars')&& !e.target.parentNode.classList.contains('hamburger')&& !e.target.parentNode.classList.contains('span'))
                {
                    self.mobileActive = false;
                }
            }, false)
        },
        methods:{
            toSlide(el){
                this.index = (this.index !== el) ? el : -1;
            },
            toSubSlide(el){
                this.submenuIndex = (this.submenuIndex !== el) ? el : -1;
            }
        }
    }
</script>

<style>
    .navbar-enter-active, .navbar-leave-active {
        transition: opacity .5s
    }
    .navbar-enter, .navbar-leave-to /* .fade-leave-active до версии 2.1.8 */ {
        opacity: 0
    }
</style>