<template>
    <div class="container checkout">
        <div class="row empty" v-if="okey">
            <h4 class="col-12 text-center">{{bank ? 'Ваш заказ успешно оплачен!' : 'Ваш заказ успешно оформлен!'}}</h4>
            <div class="col-12 text-center">
                <a href="/">Продолжить покупки</a>
            </div>
        </div>
        <div class="row empty" v-else>
            <h4 class="col-12 text-center">Произошла какая-то ошибка!</h4>
            <div class="col-12 text-center">
                <a href="/cart">Попробуйте ещё раз</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        props:['okey', 'bank'],
        created(){
            if(this.okey && this.bank){
                this.$store.dispatch('changeTitle', 'Успешная оплата');
            }else if(this.okey && !this.bank){
                this.$store.dispatch('changeTitle', 'Успешно оформлено');
            }else{
                this.$store.dispatch('changeTitle', 'Что-то пошло не так...');
            }
        }
    }
</script>