<template>
    <div class="products-all row">
        <div class="container">
            <transition name="categories" mode="out-in">
                <div class="row" v-if="!isFiltering" key="save">
                    <div class="product__item products-all_item col-12 col-sm-6 col-md-4 col-xl-3"
                         v-for="product in allProducts">
                        <a :href="'product/'+product.slug + getAttrIdByPrice(product)" class="item__image text-center">
                            <!--<img :src="product.images | changeImage" alt="" class="image">-->
                            <category-image :images="product.images" :attribute="attribute_id">
                            </category-image>
                            <span>{{product.title}}
                            </span>
                        </a>
                        <div class="price_box" v-if="product.discount && getPrice(product) > 0">
                            <span class="price old-price">{{formatPrice(getPrice(product))}}</span>
                            <span class="price" v-if="product.discount.type == 'percent'">{{getPrice(product)-(getPrice(product)*product.discount.value)/100 | rounding}} грн.</span>
                            <span class="price"
                                  v-else>{{getPrice(product)-product.discount.value | rounding}} грн.</span>
                            <span class="price percent" v-if="product.discount.type == 'percent'">{{product.discount.value}}%</span>
                            <span class="price percent" v-else>{{product.discount.value}} грн.</span>
                        </div>
                        <div class="price_box yellow text-center align-self-center justify-content-around"
                             style="width: 100%" v-else-if="product.yellow_price && getPrice(product) > 0">
                            <span class="price text-center">{{formatPrice(getPrice(product))}}</span>
                            <span class="yellow_price">Суперцена</span>
                        </div>
                        <div class="price_box text-center  align-self-center" v-else>
                            <span class="price text-center">{{formatPrice(getPrice(product))}}</span>
                        </div>
                        <div v-if="getUser" class="item__favorite center-xs justify-content-center"
                             @click="toFavorite(product.id)" :class="{isfavorite: product.favorite}">
                            <img src="images/like.svg" alt="">
                        </div>
                        <button @click="openModal(product.slug)">В корзину</button>
                        <!--<button @click="toCart(product.prices[0].product_attribute_id, product.id)" v-scroll-to="'.header'">В корзину</button>-->
                    </div>
                </div>
                <div class="main-spinner" v-else key="edit">
                    <div class="spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </div>
            </transition>
            <transition name="categories" mode="out-in">
                <modal-single-product v-if="isModal" @close="isModal=false" @buy="isModal=false;showThanksModal=true;"
                                      :product_id="indexProduct"></modal-single-product>
                <modal-thanks v-if="showThanksModal" @close="showThanksModal = false" :adds="thanksAdd"
                              :info="thanksRegInfo"></modal-thanks>
            </transition>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['productsall', 'isFiltering', 'price_filter', 'attribute_id'],
        data() {
            return {
                currentPosition: window.location.pathname,
                products: this.productsall,
                items: [],
                indexProduct: '',
                isModal: false,
                showThanksModal: false,
                thanksRegInfo: 'Товар добавлен в корзину!',
                thanksAdd: 'Перейдите в корзину, для оформления заказа.'
            }
        },
        watch: {
            isModal: function (val) {
                document.body.style.overflow = (val) ? 'hidden' : '';
            },
            showThanksModal: function (val) {
                document.body.style.overflow = (val) ? 'hidden' : '';
            }
        },
        filters: {
            rounding(val) {
//                return val.toFixed(2);
//                return Math.floor(val);
                return Math.round(val);
            }
        },
        methods: {
            getAttrIdByPrice(product) {
                return this.getPrice(product, true);
            },
            formatPrice(price) {
                return price > 0 ? price + ' грн.' : 'Нет в наличии';
            },
            getPrice(product, returnId = false) {
                if (this.price_filter && this.price_filter.selected) {
                    let price = null;
                    if (product.prices) {
                        product.prices.forEach((item) => {
                            if (item.price <= this.price_filter.selected.max
                                && item.price >= this.price_filter.selected.min) {
                                price = item.price;
                                if (returnId) {
                                    price = '#' + item.product_attribute_id;
                                }
                            }
                        });
                    } else {
                        return 0;
                    }
                    if (price) {
                        return price;
                    }
                }
                return returnId ? '' : product.prices[0].price;
            },
            openModal(slug) {
                this.isModal = true;
                this.indexProduct = slug;
            },
            toFavorite(el) {
                let index = 0;
                this.products.forEach((item, i) => {
                    if (item.id == el) {
                        return index = i;
                    }
                });
                let self = this;
                if (this.products[index].favorite) {
                    axios.post('product/unfavorite', {id: el}).then(res => {
                        self.products[index].favorite = false
                    }).catch(err => console.log(err));
                } else {
                    axios.post('product/favorite', {id: el}).then(res => {
                        self.products[index].favorite = true;
                    }).catch(err => console.log(err));
                }
            },
            toCart(product, id) {
//                let item = {[product.attribute_combinations[0].product_id] : product.attribute_combinations[0].attribute_value_id};
                let itemSingle = {product_attribute: {[id]: product}, quantity: 1};
//                console.log("ssss",item);
                this.$store.dispatch('addProduct', itemSingle);
            }
        },
        mounted() {
            this.items = this.$store.getters.getProducts
        },
        computed: {
            allProducts() {
//                return this.products;
                return this.$store.getters.getProducts
            },
            getUser() {
                return this.$store.getters.loginStatus;
            }
        }
    }
</script>

<style>
    .categories-enter-active, .categories-leave-active {
        transition: all .45s ease;
    }

    .categories-enter, .categories-leave-to {
        /*transform: translateY(5%);*/
        opacity: 0;
    }
</style>