<template>
    <div class="col-12 col-md-9 col-xl-10 product_category">
        <filters :filters="filters" @filtered="isFiltering = true" @endFilter="isFiltering = false" :price_filter="price_filter" :currentfilters="currentfilters" @toggleImage="toggleImage"></filters>
        <!--@changeFilterPrice="changeFilterPrice"-->
        <!--@changeProduct="changeProducts(products)"-->
        <products-all :productsall="products" :attribute_id="filter_id" :isFiltering="isFiltering" :price_filter="price_filter"></products-all>
    </div>
</template>

<script>
    export default{
        props: ['filters', 'price_filter', 'currentfilters', 'products', 'menu'],
        data(){
            return {
                currentPosition: window.location.pathname,
                isFiltering: false,
                filter_id: 0
            }
        },
        created(){
            this.$store.dispatch('setActiveProducts', this.products);
            let title = {};
            let position = this.currentPosition.slice(1);

            this.menu.forEach((el, i) => {
                if (el.page_position == 'navbar' && el.slug == position) {
                    return title = el;
                }
            });
            if(!title.title){
                position = this.currentPosition.split('/');
                this.menu.forEach((el,i)=>{
                    if(el.page_position == 'navbar'){
                        el.submenu.forEach(item => {
                            if(item.slug == position[position.length-1]){
                                return title = item;
                            }
                        });
                    }
                });
            }

            if(!title.title){
                title.title = 'Категории';
            }

//            this.$store.dispatch('changeTitle', title.title);

        },
        mounted(){
//            this.$store.dispatch('setActiveProducts', this.products);
            console.log(this.products);
        },
//        updated(){
//            this.$store.dispatch('setActiveProducts', this.products);
//        },
        methods:{
            toggleImage(val){
                this.filter_id = val;
            },
            changeProducts(products){
                console.log(products);
                this.productsAll = products;
            }
        }
    }
</script>

