<template>
    <div class="row">
        <div class="col-12 col-md-6 slider-gallery">
            <product-slider :images="product.images" :imageArr="imageArr" :indexImage="indexImage"></product-slider>
        </div>
        <div class="col-12 col-md-6 product-info">
            <product-buy :product="product" :attributes="attributes" @changeImage="addArrayImages" @goSlider="changeImage"></product-buy>
        </div>
        <div class="col-12 col-md-6 product-description">
            <h2 class="description_title">
               о товаре
            </h2>
            <p class="description_text">{{product.description}}</p>
            <div class="description_share">
                <span>Поделиться ссылкой</span>
                <a v-for="item in items" target="_blank" rel="nofollow" :href="item.slug"><img :src="item.img" alt=""></a>
            </div>
        </div>
        <div class="col-12 col-md-6 product-description product-characteristics">
            <h2 class="description_title">
                характеристики
            </h2>
            <div class="char_list">
                <ul class="list__titles">
                    <li v-if="product.article">
                        Артикул:
                    </li>
                    <li v-for="item in product.characteristics">
                        {{item.attribute_value.attribute.title}}:
                    </li>
                </ul>
                <ul class="list__values">
                    <li v-if="product.article">
                        {{ product.article }}
                    </li>
                    <li v-for="item in product.characteristics">
                        {{item.attribute_value.value}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-6 product-description product-related">
            <span class="description_title">
                Мы рекомендуем
            </span>
            <div class="row products-wrap">
                <carousel :perPage="pages" :autoplay="true" :autoplayTimeout="5000" :loop="true" :paginationEnabled="false">
                    <slide v-for="product in allProducts" :key="product.id" :product="product">
                        <div class="product__item">
                            <a :href="'product/'+product.slug"  class="item__image">
                                <img v-if="product.images.length" :src="product.images[0].img_name" alt="" class="image_small">
                            </a>
                            <a :href="'product/'+product.slug" class="text-center">{{product.title}}</a>
                            <span class="price text-center">{{product.price}} грн.</span>
                            <div v-if="getUser" class="item__favorite center-xs justify-content-center" @click="toFavorite(product.id)" :class="{active: product.favorite}">
                                <img src="images/like.svg" alt="">
                            </div>
                        </div>
                    </slide>
                </carousel>
            </div>
        </div>
        <div class="col-12 col-md-6 product-description product-review">
            <div class="review_nav description_title">
                <span class="h4" :class="{active: !isReview}" @click="isReview = true">Отзывы ({{product.comments.length}})</span>
                <span class="h4" :class="{active: isReview}" @click="isReview = false">Вопросы ({{product.question.length}})</span>
            </div>
            <transition name="productCard" mode="out-in">
                <div class="review" key="review" v-if="isReview">
                    <form class="form row" @submit.prevent="onSubmit">
                        <div v-if="!getUser" class="form-group col-12 col-md-6">
                            <input type="text" v-model="review.name" required class="form-control" placeholder="Ваше имя">
                        </div>
                        <div v-if="!getUser" class="form-group col-12 col-md-6">
                            <input type="email" v-model="review.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  required class="form-control" placeholder="Ваш E-mail">
                        </div>
                        <div class="form-group col-12 col-md-12">
                            <textarea v-model="review.message" required placeholder="Оставьте Ваш отзыв" class="form-control" rows="3"></textarea>
                        </div>
                        <div class="form-group mark-field col-12 col-md-6">
                            <span class="mark__title">Ваша оценка</span>
                            <div class="mark">
                                <i class="mark__item" :class="{active: review.mark>0}" @click="changeMark(1)"></i>
                                <i class="mark__item" :class="{active: review.mark>1}" @click="changeMark(2)"></i>
                                <i class="mark__item" :class="{active: review.mark>2}" @click="changeMark(3)"></i>
                                <i class="mark__item" :class="{active: review.mark>3}" @click="changeMark(4)"></i>
                                <i class="mark__item" :class="{active: review.mark>4}" @click="changeMark(5)"></i>
                            </div>
                        </div>
                        <div class="form-group products-all submit_form col-12 col-md-6">
                            <button class="buy_btn" type="submit">Отправить</button>
                        </div>
                    </form>
                    <div v-if="comments.length">
                        <div class="review_comments" v-for="comment in comments">
                            <div class="comments_comment">
                                <div class="comment_info">
                                    <span class="name">{{comment.user_name || comment.user.name + ' ' +comment.user.lastname }}</span>
                                    <span class="date">{{comment.created_at | moment("DD MMMM YYYY")}}</span>
                                </div>
                                <p>{{comment.text}}</p>
                            </div>
                            <div class="comment_mind" v-if="!getUser">
                                <div class="mind_like" v-tooltip.top-center="msg">
                                    <img src="images/finger.svg" alt="">
                                    <span>{{comment.like}}</span>
                                </div>
                                <div class="mind_like mind_dislike" v-tooltip.top-center="msg">
                                    <img src="images/finger.svg" alt="">
                                    <span>{{comment.dislike}}</span>
                                </div>
                            </div>
                            <div class="comment_mind" v-else>
                                <div class="mind_like" @click="Respect(comment, 1)" :class="{active: checkLike(comment)}">
                                    <img src="images/finger.svg" alt="">
                                    <span>{{comment.like}}</span>
                                </div>
                                <div class="mind_like mind_dislike" @click="Respect(comment, 0)" :class="{active: checkDislike(comment)}">
                                    <img src="images/finger.svg" alt="">
                                    <span>{{comment.dislike}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-else>
                        <strong class="col-12">
                            Нет комментариев. Оставьте комментарий первым!
                        </strong>
                    </div>
                </div>
                <div class="review question" key="question" v-else>
                    <form class="form row" @submit.prevent="sendQuestion">
                        <div v-if="!getUser" class="form-group col-12 col-md-6">
                            <input type="text" v-model="question.name" required class="form-control" placeholder="Ваше имя">
                        </div>
                        <div v-if="!getUser" class="form-group col-12 col-md-6">
                            <input type="email" v-model="question.email" required class="form-control" placeholder="Ваш E-mail">
                        </div>
                        <div class="form-group col-12 col-md-12">
                            <textarea v-model="question.message" required placeholder="Оставьте Ваш вопрос" class="form-control" rows="3"></textarea>
                        </div>
                        <div class="col-md-6"></div>
                        <div class="form-group products-all submit_form col-12 col-md-6">
                            <button class="buy_btn" type="submit">Отправить</button>
                        </div>
                    </form>
                    <div v-if="questionsAll.length">
                        <div class="review_comments" v-for="question in questionsAll">
                            <div class="comments_comment">
                                <div class="comment_info">
                                    <span class="name">{{question.user_name || question.user.name + ' ' +question.user.lastname }}</span>
                                    <span class="date">{{question.created_at | moment("DD MMMM YYYY")}}</span>
                                </div>
                                <p>{{ question.text }}</p>
                            </div>
                            <div class="comment_mind" v-if="!getUser">
                                <div class="mind_like" v-tooltip.top-center="msg">
                                    <img src="images/finger.svg" alt="">
                                    <span>{{question.like}}</span>
                                </div>
                                <div class="mind_like mind_dislike" v-tooltip.top-center="msg">
                                    <img src="images/finger.svg" alt="">
                                    <span>{{question.dislike}}</span>
                                </div>
                            </div>
                            <div class="comment_mind" v-else>
                                <div class="mind_like" @click="Question(question, 1)">
                                    <img src="images/finger.svg" alt="" :class="{active: checkLike(question)}">
                                    <span>{{question.like}}</span>
                                </div>
                                <div class="mind_like mind_dislike" @click="Question(question, 0)">
                                    <img src="images/finger.svg" alt="" :class="{active: checkDislike(question)}">
                                    <span>{{question.dislike}}</span>
                                </div>
                            </div>
                            <div class="question_answer" v-if="question.answer">
                                <div class="answer__admin">
                                    <p>{{question.answer.text}}
                                    </p>
                                    <div class="admin__block">
                                        <span class="name">Администратор</span>
                                        <span class="date">{{question.answer.created_at | moment("DD MMMM YYYY")}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-else>
                        <strong class="col-12">Есть вопрос? Задайте его первым.</strong>
                    </div>
                </div>
            </transition>
            <transition name="articlereview">
                <modal-thanks v-if="showThanksModal" @close="showThanksModal = false" :adds="thanksAdd" :info="thanksRegInfo"></modal-thanks>
            </transition>
        </div>
    </div>
</template>

<script>
    import ProductSlider from './product-card/ProductSlider.vue';
    import { Carousel, Slide } from 'vue-carousel';
    export default{
        props: ['product', 'related', 'attributes'],
        data(){
            return {
                facebookShare: '',
                msg: 'Только для зарегистрированных пользователей',
                items:[
                    {img: 'images/social/twitter.svg', slug: `https://twitter.com/home?status=${encodeURIComponent(window.location.href)}`},
                    {img: 'images/social/facebook.svg', slug: "https://www.facebook.com/sharer.php?s=100&p[url]=" + encodeURIComponent(window.location.href)},
                    {img: 'images/social/google-plus.svg', slug: `https://plus.google.com/share?url=${encodeURIComponent(window.location.href)}`}
                ],
                review: {
                    email: '',
                    name: '',
                    message: '',
                    mark: 5
                },
                thanksRegInfo: 'Спасибо!',
                thanksAdd: "Комментарий появится после модерации!",
                currentUser: null,
                isReview: true,
                showThanksModal: false,
                comments: this.product.comments,
                question: {
                    email: '',
                    name: '',
                    message: '',
                },
                questionsAll: this.product.question,
                pages: 3,
                indexImage: 0,
                products: this.related,
                imageArr: []
            }
        },
        watch: {
            '$mq.resize': 'screenResize'
        },
        methods:{
            addArrayImages(arr){
//                console.log(this);
                this.imageArr = arr;
                this.$children[0].changeImages(arr);
            },
            changeImage(val){
                this.indexImage = val;
                this.$children[0].elseIndex = val;
//                console.log(this);
            },
            screenResize() {
                if (this.$mq.below(600)) {
                    this.pages = 2;
                }else{
                    this.pages = 3;
                }
            },
            checkLike(item){
                let index = 0;
                if(this.currentUser){
                    item.likes.forEach((el,i)=>{
                         if(el.user_id == this.currentUser.id && el.like){
                             index = 1;
                         }
                    });
                }

                return index;
            },
            checkDislike(item){
                let index = 0;
                if(this.currentUser){
                    item.likes.forEach((el,i)=>{
                        if(el.user_id == this.currentUser.id && !el.like){
                            index = 1;
                        }
                    });
                }
                return index;
            },
            Respect(item, mark){
                let index = -1;
                this.comments.forEach((el, i)=>{
                    if(el.id == item.id){
                        index = i;
                    }
                });
                let self = this;
                axios.post('commentlike', {comment_id: item.id, like: mark}).then(res=>{
                    let subindex = -1;
                    this.comments[index].like = res.data.like;
                    this.comments[index].dislike = res.data.dislike;
                    this.comments[index].likes.forEach((el,i)=>{
                        if(el.user_id == this.currentUser.id){
                            subindex = i;
                            el.like = Boolean(mark);
                        }
                    });
                if(subindex==-1){
                    this.comments[index].likes.push({
                        user_id: this.currentUser.id,
                        like: Boolean(mark)
                });
                }
                }).catch(err=>console.log(err));
            },
            Question(item, mark){
                let index = -1;
                this.questionsAll.forEach((el, i)=>{
                    if(el.id == item.id){
                        index = i;
                    }
                });
                console.log(index);
                let self = this;
                axios.post('questionlike', {question_id: item.id, like: mark}).then(res=>{
                    let subindex = -1;
                    this.questionsAll[index].like = res.data.like;
                    this.questionsAll[index].dislike = res.data.dislike;
                    this.questionsAll[index].likes.forEach((el,i)=>{
                        if(el.user_id == this.currentUser.id){
                            subindex = i;
                            el.like = Boolean(mark);
                        }
                    });
                    console.log(this.questionsAll[index]);
                    if(subindex==-1){
                        this.questionsAll[index].likes.push({
                            user_id: this.currentUser.id,
                            like: Boolean(mark)
                        });
                    }
            }).catch(err=>console.log(err));
            },
            onSubmit(){
                let self = this;
                axios.post('create-comment', {text: this.review.message, mark: this.review.mark, product_id: this.product.id, email: this.review.email, name: this.review.name}).then(res=>{
                    self.review.email='';
                    self.review.name='';
                    self.review.message = '';
                    self.review.mark = 5;
                    self.showThanksModal = true;
                }).catch(err=>console.log(err));
            },
            changeMark(el){
                this.review.mark = el;
            },
            commentReact(value){
                this.comment = value;
            },
            sendQuestion(){
                let self =this;
                let obj = {};
                obj.name = this.question.name;
                obj.text = this.question.message;
                obj.product_id = this.product.id;
                obj.email = this.question.email;
                if(this.currentUser){
                    obj.user_id = this.currentUser.id;
                }
                axios.post('create-question', obj).then(res=>{
                    self.question.message = '';
                    self.question.email = '';
                    self.question.name = '';
                    self.showThanksModal = true;
                });
            },
            toFavorite(el){
                let index = 0;
                this.products.forEach((item, i)=> {
                    if (item.id == el) {
                        return index = i;
                    }
                });
                let self = this;
                if (this.products[index].favorite) {
//                    this.products[index].favorite = false;
                    axios.post('product/unfavorite', {id: el}).then(res=> {
                        self.products[index].favorite = false;
                    })
                } else {
//                    this.products[index].favorite = true;
                    axios.post('product/favorite', {id: el}).then(res=> {
                        self.products[index].favorite = true;
                    })
                }
            }
//            toLike(el){
//                let index = 0;
//                this.product.comment.forEach((item,index)=>{
////                        console.log(el);
//                    if(item.id == el){
//                        return index = i;
//                    }
//                });
//            }
        },
        computed:{
            allProducts(){
                return this.products
            },
            getUser(){
                return this.$store.getters.loginStatus;
            }
        },
        created(){
            this.$store.dispatch('changeTitle', this.product.title);
            this.screenResize();
        },
        mounted(){
            this.currentUser = this.$store.getters.loginStatus;
        },
        components: {
            'product-slider': ProductSlider,
            Carousel,
            Slide
        }
    }
</script>

<style>
    .productCard-enter-active, .productCard-leave-active {
        transition: all .5s
    }
    .productCard-enter {
        opacity: 0;
        transform: translateX(20%);
    }
    .productCard-leave-to{
        opacity:0;
        transform: translateX(-20%);
    }
</style>