<!--<template>-->
    <!--<form class="adds__form">-->
        <!--<div class="form__filed" :class="{active: isSearch}">-->
            <!--<input type="text" placeholder="Поиск..." v-model="search" @focus="isSearch=true" @blur="isSearch=false">-->
            <!--<button><i class="material-icons">search</i></button>-->
        <!--</div>-->
        <!--<transition name="searchbar" mode="out-in">-->
            <!--<div class="form__search" v-if="(search.length > 0) && isSearch && searchItems.length" key="have">-->
                <!--<a v-for="item in searchItems" :href="'product/'+item.slug" :title="item.title">-->
                    <!--<img :src="item.images[0].img_name" alt="">-->
                    <!--<span>{{item.title}}</span>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="form__search text-center" v-else-if="(search.length < 1) & isSearch" key="nohave">-->
                <!--<h6>Похоже, ничего не найдено</h6>-->
            <!--</div>-->
        <!--</transition>-->
    <!--</form>-->
<!--</template>-->

<script>
    export default{
        data(){
            return{
                search: '',
                isSearch: false,
                searchItems: []
            }
        },
        watch:{
            search: function(val){
                this.searchProducts(val);
            }
        },
        methods:{
            searchProducts(val){
                let self = this;
                axios.post('search', {searcher: val}).then(res=>{
                    console.log(res);
                    self.searchItems = res.data.resoult.product;
                }).catch(err=>console.log(err));
            }
        }
    }
</script>

<style>
    .searchbar-enter-active, .searchbar-leave-active {
        transition: opacity .3s
    }
    .searchbar-enter, .searchbar-leave-to /* .fade-leave-active до версии 2.1.8 */ {
        opacity: 0
    }
</style>