<template>
    <div>
        <div class="single_article container">
            <!--<h2 class="subtitle row">-->
                <!--{{article.title}}-->
            <!--</h2>-->
            <div class="text row">
                <p v-html="article.text"></p>
            </div>
            <div class="images row" v-if="gallery.length">
                <div v-for="(image, index) in gallery" class="col-12 col-md-4 col-lg-3 image">
                    <img class="preview-img" :src="image.src" @click="$preview.open(index, gallery)" alt="">
                </div>
            </div>
            <div class="social row">
                <span class="col-12 col-md-2 date align-items-center">{{article.created_at | moment("DD MMMM YYYY")}}</span>
                <div class="description_share info_social col-12 col-md-4">
                    <span>Поделиться ссылкой: </span>
                    <a rel="nofollow" :href="article.slug | facebookShare" target="_blank"><img src="images/social/facebook.svg" alt=""></a>
                    <a rel="nofollow" :href="article.slug | twitterShare" target="_blank"><img src="images/social/twitter.svg" alt=""></a>
                    <a rel="nofollow" :href="article.slug | googleShare" target="_blank"><img src="images/social/google-plus.svg" alt=""></a>
                </div>
                <div class="col-12 col-md-3 justify-content-end products-all review">
                    <button @click="isReview=true" :disabled="!getUser" :class="{disabled: !getUser}">Оставить отзыв</button>
                    <p v-if="!getUser">Авторизируйтесь, чтобы оставить отзыв!</p>
                </div>
                <div class="col-12 col-md-3 carousel__slide justify-content-end products-all next_article" v-if="!noFuture">
                    <a :href="'blog/'+nextarticle.slug">Следующая статья</a>
                </div>
                <transition name="articlereview">
                    <modal-review v-if="isReview" :articleId="article.id" @showThanks="showThanksModal = true" @close="isReview = false"></modal-review>
                    <modal-thanks v-if="showThanksModal" @close="showThanksModal = false" :adds="thanksAdd" :info="thanksRegInfo"></modal-thanks>
                </transition>
            </div>
        </div>
        <!--<div class="article_comments row">-->
            <!--<div class="container">-->
                <!--<h2 class="row">Комментарии к статье</h2>-->
                <!---->
            <!--</div>-->
        <!--</div>-->
        <div class="similar justify-content-center row">
            <div class="container">
                <span class="h2 row">Похожие статии</span>
                <!--<div class="row">-->
                    <carousel :perPage="pages" :autoplay="true" :autoplayTimeout="5000" :loop="true" :paginationEnabled="false">
                        <slide v-for="article in randomarticles" :key="article.id">
                            <a class="slide" :href="'blog/'+article.slug">
                                <img :src="article.images[0].img_name" :alt="article.images[0].alt">
                                <span class="h3">{{article.title}}</span>
                                <p>{{article.short_text}}</p>
                            </a>
                        </slide>
                    </carousel>
                <!--</div>-->
            </div>
        </div>
    </div>
</template>

<script>
    import { Carousel, Slide } from 'vue-carousel';
    export default{
        props: ['article', 'nextarticle', 'comments','randomarticles'],
        data(){
            return {
                gallery: [],
                isReview: false,
                noFuture: false,
                showThanksModal: false,
                thanksRegInfo: 'Спасибо за комментарий!',
                thanksAdd: 'Комментарий появится сразу после модерации',
                pages: 3
            }
        },
        watch:{
            isReview: function(val){
                document.body.style.overflow = (val)?'hidden':'';
            },
            '$mq.resize': 'screenResize'
        },
        methods:{
            screenResize() {
                if (this.$mq.below(600)) {
                    this.pages = 1;
                }else{
                    this.pages = 3;
                }
            }
        },
        created(){
//            console.log(this.nextArticle, this.randomArticles);
            this.gallery = this.article.images.map((el,i)=>{
                el.w = 1200;
                el.h = 900;
                el.src = el.img_name;
                el.alt = el.alt;
                return el;
            });
            this.screenResize();
            this.$store.dispatch('changeTitle', this.article.title);
        },
        mounted(){
            if(!this.nextarticle.hasOwnProperty('title')){
                this.noFuture = true;
            }
            console.log(this.nextarticle, this.randomarticles);
        },
        computed:{
            getUser(){
                return this.$store.getters.loginStatus;
            }
        },
        filters:{
            facebookShare(value){
                return `https://www.facebook.com/sharer.php?s=100&p[url]=${encodeURIComponent(window.location.hostname+'/blog/'+value)}`;
            },
            twitterShare(value){
                return `https://twitter.com/home?status=${encodeURIComponent(window.location.hostname+'/blog/'+value)}`
            },
            googleShare(value){
                return `https://plus.google.com/share?url=${encodeURIComponent(window.location.hostname+'/blog/'+value)}`;
            }
        },
        components:{
            Carousel,
            Slide
        }
    }
</script>

<style>
    .articlereview-enter-active, .articlereview-leave-active {
        transition: all .7s ease;
    }
    .articlereview-enter  /* .fade-leave-active до версии 2.1.8 */ {
        transform: translateY(-5%);
        opacity: 0;
    }
    .articlereview-leave-to{
        transform: translateY(5%);
        opacity: 0;
    }
</style>