<!--<template>-->
    <!--<transition name="fade" mode="out-in">-->
        <!--<div class="carousel__slide">-->
            <!--<img :src="slider.img_name" alt="">-->
            <!--<a :href="slider.url" >Перейти в каталог</a>-->
        <!--</div>-->
    <!--</transition>-->
<!--</template>-->

<script>
export default {
    props: ['slide', 'index'],
        data() {
            return {
                    slider: this.slide
            }
        },
    computed:{
        visible(){
//                return this
    //                return true;
                        return (this.slide.id-1) == this.index;
            }
    }
}
    </script>

<style>
    img{
        pointer-events: none;
    }
</style>