<template>
    <div class="social__icons">
        <a v-for="item in items" :href="item.slug"><img :src="item.img" alt=""></a>
    </div>
</template>

<script>
    export default{
        data(){
            return{
                items:[
                    {img: 'images/social/vk.svg', slug: 'https://vk.com/'},
                    {img: 'images/social/facebook.svg', slug: 'https://www.facebook.com/'},
                    {img: 'images/social/instagram.svg', slug: 'https://www.instagram.com/'}
                ]
            }
        }
    }
</script>