<template>
    <div>
    <button @click="isSubscribe = true">
        Подписаться на информационную рассылку
    </button>
    <transition name="email">
        <modal-subscribe v-if="isSubscribe" @showThanks="showThanksModal = true" @close="isSubscribe = false"></modal-subscribe>
        <modal-thanks v-if="showThanksModal" @close="showThanksModal = false" :adds="thanksAdd" :info="thanksRegInfo"></modal-thanks>
    </transition>
    </div>
</template>

<script>
    export default{
        data(){
            return {
                isSubscribe: false,
                showThanksModal: false,
                thanksAdd: 'Теперь вы будете получать уведомления от нас',
                thanksRegInfo: 'Спасибо за подписку!'
            }
        }
    }
</script>

<style>
.email-enter-active, .email-leave-active {
transition: all .7s ease;
}
.email-enter  /* .fade-leave-active до версии 2.1.8 */ {
transform: translateY(-5%);
opacity: 0;
}
.email-leave-to{
transform: translateY(5%);
opacity: 0;
}
</style>