<!--<template>-->
    <!--<div>-->
        <!--<form class="footer__form" @submit.prevent="sendEmail">-->
            <!--<input :disabled="isSending" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" type="email" v-model.trim="currentEmail" placeholder="Ваш E-mail">-->
            <!--<button type="submit" :class="{sending: isSending}">Подписаться</button>-->
        <!--</form>-->
        <!--<transition name="subscriber">-->
            <!--<p class="subscriber" v-if="wasSend">-->
               <!--Вы успешно подписались на рассылку!-->
            <!--</p>-->
        <!--</transition>-->
    <!--</div>-->
<!--</template>-->

<script>
    export default{
        data(){
            return {
                currentEmail: '',
                isSending: false,
                wasSend: false
            }
        },
        methods:{
            sendEmail(value){
                if(this.currentEmail.trim().length<5){
                    return;
                }
                this.isSending = true;
                console.log(this.currentEmail);
                axios.post('subscr', {email: this.currentEmail}).then(res=>{
                    console.log(res);
                    this.currentEmail = '';
                    this.isSending = false;
                    this.wasSend = true;
                }).catch(err=>{
                    alert(err);
                    this.isSending = false;
                });
            }
        }
    }
</script>

<style>
    .subscriber-enter-active, .subscriber-leave-active {
        transition: opacity .5s
    }
    .subscriber-enter, .subscriber-leave-to /* .fade-leave-active до версии 2.1.8 */ {
        opacity: 0
    }
</style>