<template>
    <div>
        <!--<b>#{{item.id}}</b>-->
        <span>{{ item.DescriptionRu }}</span>
        <!--<abbr>{{item.description}}</abbr>-->
    </div>
</template>

<script>
    export default {
        props: { item: { required: true } }
    }
</script>