<template>
    <div class="container twitter">
        <form class="row justify-content-center" @submit.prevent="onSubmit">
            <div class="col-12 col-md-4 form_box">
                <h3>Пожалуйста, подтвердите Ваш e-mail адрес!</h3>
                <input type="email" placeholder="Ваш E-mail" required v-model="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                <button>Подтвердить</button>
            </div>
        </form>
        <transition name="twitter">
            <modal-thanks v-if="showThanksModal" @close="closing" :adds="thanksAdd" :info="thanksRegInfo"></modal-thanks>
        </transition>
    </div>
</template>

<script>
    export default{
        data(){
            return{
                email:'',
                showThanksModal: false,
                thanksAdd: 'Спасибо за подтверждение!',
                thanksRegInfo: 'Теперь вы можете перейти в личный кабинет!'
            }
        },
        created(){
            this.$store.dispatch('changeTitle', "Подтверждение E-mail");
        },
        methods:{
            onSubmit(){
                let self = this;
                axios.post('register/email', {email: this.email}).then(res=>{
                    self.showThanksModal = true;
                }).catch(err=>console.log(err));
            },
            closing(){
                this.showThanksModal = false;
                window.location.replace('/');
            }
        }
    }
</script>

<style>
    .twitter-enter-active, .twitter-leave-active {
        transition: all .7s ease;
    }
    .twitter-enter  /* .fade-leave-active до версии 2.1.8 */ {
        transform: translateY(-5%);
        opacity: 0;
    }
    .twitter-leave-to{
        transform: translateY(5%);
        opacity: 0;
    }
</style>